// BREADCRUMBS
.layout__breadcrumbs
  padding: 1rem 0 
  background-color: $colorPrimary100
  @include mediaMinWidthTabletPort
    padding: 1.25rem 0 
  .breadcrumbs__list
    gap: .5rem
    display: flex
    flex-wrap: wrap
    align-items: center
  .breadcrumbs__item
    flex-shrink: 0
    &:last-child
      .breadcrumbs__link
        color: $colorPrimary300
        pointer-events: none

    &:not(:first-child)
      .breadcrumbs__link
        &:before
          content: "-"
    &:not(:last-child)
      &:hover
        .breadcrumbs__link
          color: $colorSecondary400
  .breadcrumbs__link
    font-size: .875rem
    line-height: 1.25rem
    gap: .5rem
    max-width: calc(100vw - 2.5rem)
    position: relative
    display: flex
    align-items: center
    @include transition
  .breadcrumbs__ico
    width: .75rem
    height: .75rem

















