//FOOTER
.layout__footer
  color: $colorWhite
  background-color: $colorPrimary400
  padding: 2rem 0 0
  @include mediaMinWidthTabletPort
    padding: 5.5rem 0 7rem
  a
    color: $colorWhite
  .container
    display: grid
    grid-gap: 5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: auto 26rem
      grid-gap: 13.5rem
.footer__primary
  display: grid
  grid-gap: 1.5rem
  grid-template-columns: 1fr 1fr
  @include mediaMinWidthTabletPort
    grid-template-columns: 17.5rem 8.5rem 8.5rem
    grid-gap: 5rem
  .footer__section
    &.footer__section_primary
      @include mediaMinWidthTabletPort
        order: -1
    &.footer__section_secondary
      grid-row: span 2
    &.footer__section_tertiary
      grid-column: span 2
      @include mediaMinWidthTabletPort
        margin-top: auto
        grid-column: unset

.footer__secondary
  display: grid
  grid-gap: 2rem
  position: relative
  @include mediaMinWidthTabletPort
    grid-gap: 3.5rem
  &:before
    content: ""
    position: absolute
    top: -2rem
    bottom: 0
    left: -1.25rem
    width: 100vw
    background-color: #151515
    @include mediaMinWidthTabletPort
      top: -5.5rem
      left: -7rem
      bottom: -7rem
  .layout__callback
    margin: 0 -1.25rem
    @include mediaMinWidthTabletPort
      margin: auto 0 0
.footer__section
  position: relative
  z-index: 2
  gap: 1.25rem
  display: flex
  flex-direction: column
  .section__title
    font-size: 1rem
    line-height: 1.25rem
    font-family: $secondaryFont
  .section__main
    display: grid
    grid-gap: 1.25rem
    @include mediaMinWidthTabletPort
      grid-gap: 2.5rem

.footer__logo
  .logo__link
    display: grid
    align-items: center
    gap: .25rem .75rem
    grid-template-columns: 2.5rem auto
    @include mediaMinWidthTabletPort
      gap: .5rem 1.5rem
      grid-template-columns: 4rem auto
  .logo__img
    width: 2.5rem
    height: 2.5rem
    grid-row: span 2
    @include mediaMinWidthTabletPort
      width: 4rem
      height: 4rem
  .logo__title
    font-size: .75rem
    line-height: 1rem
    font-weight: 200
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1.125rem
  .logo__subtitle
    color: $colorPrimary300
    font-size: .5rem
    line-height: .75rem
    @include mediaMinWidthTabletPort
      font-size: .875rem
      line-height: 1rem
.footer__copyright
  .copyright__text
    color: $colorPrimary300
    font-size: .8125rem
    line-height: 1rem
    strong
      color: $colorWhite
      font-weight: 100
.footer__support
  .support__list
    gap: .5rem
    display: flex
    flex-direction: column
  .support__link
    font-size: 1rem
    line-height: 1.5rem
    position: relative
    @include transition
    &:hover
      &:before
        width: 0
    &:before
      content: ""
      position: absolute
      top: 100%
      left: 0
      opacity: .5
      height: 1px
      width: 100%
      background-color: $colorWhite
      @include transition


.footer__design
  .design__link
    gap: 1.25rem
    display: flex
    align-items: center
  .design__img
    width: 7.75rem
    height: 2.5rem
    flex-shrink: 0
  .design__text
    font-size: .8125rem
    line-height: 1rem

.footer__nav
  .nav__list
    gap: 1rem
    display: grid
    flex-direction: column
  .nav__item
    &:hover,
    &.nav__item__active
      .nav__link
        color: $colorSecondary400
  .nav__link
    color: $colorWhite
    font-size: 1.125rem
    loine-height: 1.25rem
    @include transition
.footer__contact
  display: grid
  grid-gap: 1.25rem
  @include mediaMinWidthTabletPort
    grid-template-columns: auto 14.25rem
  .contact__data
    grid-column: span 2
    .data__list
      gap: 1rem
      display: grid
      grid-template-columns: repeat(2, auto)
    .data__item
      font-size: .875rem
      line-height: 1rem
      gap: .25rem
      width: calc(50% - .125rem)
      white-space: nowrap
      display: flex
      align-items: center
      @include mediaMinWidthTabletPort
        font-size: 1.125rem
        line-height: 1.25rem
    .data__title
      color: $colorPrimary300
    .data__subtitle
      &.data__subtitle_secondary
        position: relative
        &:hover
          &:before
            width: 0
        &:before
          content: ""
          position: absolute
          top: 100%
          left: 0
          opacity: .5
          height: 1px
          width: 100%
          background-color: $colorWhite
          @include transition

  .contact__socials
    .socials__list
      display: flex
      gap: .75rem
    .socials__link
      width: 1.5rem
      height: 1.5rem
      display: flex
      align-items: flex-start
    .socials__ico
      width: 100%
      height: 100%

  .contact__phones
    .phones__list
      gap: 1rem
      display: flex
      flex-direction: column
    .phones__item
      &:hover
        .phones__link
          color: $colorSecondary400
    .phones__link
      color: $colorWhite 
      font-size: 1rem
      line-height: 1.25rem
      font-family: $secondaryFont
      @include transition











