.layout__header
  background-color: $colorWhite
  padding: 1.25rem 0
  top: 0
  left: 0
  z-index: 9
  width: 100%
  position: relative
  @include mediaMinWidthTabletPort
    position: absolute
  .container
    display: grid
    align-items: center
    grid-gap: 1rem .75rem
    grid-template-columns: 9.25rem auto 1.5rem 1.5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: 13.75rem auto 12.25rem
  &.layout__header_move
    @include mediaMinWidthTabletPort
      position: fixed
      top: 0
      left: 0
      width: 100%
      z-index: 11
      @include box-shadow
      transform: translateY(-100%)
  // layout__header_animation
  &.layout__header_animation
    @include mediaMinWidthTabletPort
      transform: translateY(-0%)
      @include transition
      .container
        grid-gap: 1.25rem
        grid-template-columns: 13.75rem auto 12.25rem 12.25rem

    .header__logo,
    .header__nav
      display: none
    .header__search
      padding: 0
    .header__contact
      order: 2
      grid-row: span 2
    .header__callback
      order: 3
    .header__comparison
      order: 4
  // header_menu-active
  &.layout__header_menu-active
    .header__nav
      transform: translateX(0)
    .header__burger
      .burger__item
        width: 1.5rem
        margin-bottom: 0

        &:nth-child(1)
          transform: rotate(45deg)

        &:nth-child(2)
          display: none

        &:nth-child(3)
          margin-top: -.125rem
          transform: rotate(-45deg)

    & ~ *
      opacity: .1
// header__logo
.header__logo
  order: -1
  @include mediaMinWidthTabletPort
    order: unset
  .logo__link
    width: 9.5rem
    height: 2.75rem
    color: $colorPrimary400
    display: grid
    align-items: center
    gap: .25rem .75rem
    grid-template-columns: 2.5rem auto
    @include mediaMinWidthTabletPort
      width: 13.75rem
      height: 4rem
      gap: .5rem 1.5rem
      grid-template-columns: 4rem auto
  .logo__img
    width: 2.5rem
    height: 2.5rem
    grid-row: span 2
    @include mediaMinWidthTabletPort
      width: 4rem
      height: 4rem
  .logo__title
    font-size: .75rem
    line-height: .75rem
    font-weight: 200
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1.125rem
  .logo__subtitle
    color: $colorPrimary300
    font-size: .5rem
    line-height: .75rem
    @include mediaMinWidthTabletPort
      font-size: .875rem
      line-height: 1rem
// burger
.header__burger
  display: flex
  width: 1.5rem
  height: 1rem
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 10
  @include mediaMinWidthTabletPort
    display: none

  .burger__item
    width: 1.5rem
    background-color: $colorPrimary400
    height: .125rem
    border-radius: .5rem
    @include transition
    &:not(:last-child)
      margin-bottom: .25rem


// header__navigation
.header__nav
  @include mediaMaxWidthTabletPort
    padding: 1.5rem
    position: absolute
    top: calc(100% + 2rem)
    left: 0
    width: 100%
    background-color: $colorWhite
  .nav__list
    gap: 1.5rem
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      gap: 2.5rem
      width: 100%
      flex-direction: row
      justify-content: center
  .nav__item
    display: flex
    align-items: center
    justify-content: center
    gap: 1rem .5rem
    flex-wrap: wrap
    position: relative
    cursor: pointer
    @include mediaMinWidthTabletPort
      flex-wrap: nowrap
    &:hover
      @include mediaMinWidthTabletPort
        .nav__link
          color: $colorSecondary400
        .nav__ico
          transform: rotate(-180deg) translateY(.125rem)
        .nav__sublist
            transform: translateX(0)
            opacity: 1
            visibility: visible
            transition-delay: 0
    &.nav__item_active
      .nav__link
        color: $colorSecondary400
      .nav__ico
        transform: rotate(-180deg) translateY(.125rem)
  .nav__ico
    width: .75rem
    height: .5rem
    transform: rotate(0deg) translateY(.125rem)
    transform-origin: 50% 75%
    @include transition
  .nav__link
    color: $colorPrimary400
    font-size: 1rem
    line-height: 1.25rem
    font-family: $secondaryFont
    text-transform: uppercase
    @include transition
    @include mediaMinWidthTabletPort
  .nav__sublist
    padding: 1.5rem
    display: none
    width: 100%
    position: relative
    background-color: $colorPrimary100
    @include mediaMinWidthTabletPort
      position: absolute
      left: 0
      width: 17rem
      top: calc(100% + 1.25rem)
      z-index: 2
      display: grid
      opacity: 0
      visibility: hidden
      @include transition
      transform: translateX(-1rem)
      transition-delay: .2s
    &:before
      content: ""
      width: 100vw
      height: 100%
      background-color: $colorPrimary100
      position: absolute
      top: 0
      left: -1.25rem
      @include mediaMinWidthTabletPort
        display: none
  .nav__subitem
    display: flex
    justify-content: center
    position: relative
    @include mediaMinWidthTabletPort
      justify-content: flex-start
    &:not(:last-child)
      margin-bottom: .75rem
    &:hover,
    &.nav__subitem_active
      .nav__sublink
          color: $colorSecondary400
      
    .nav__sublink
      color: $colorPrimary400
      font-size: 1rem
      line-height: 1.25rem
      font-family: $secondaryFont
      text-transform: uppercase
      @include transition




// header__catalog
.header__catalog
  position: relative
  order: 9
  grid-column: span 4
  @include mediaMinWidthTabletPort
    grid-row: span 2
    grid-column: unset
    order: unset
 
  .catalog__preview
    color: $colorWhite
    background-color: $colorSecondary400
    padding: 1rem 2rem
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    gap: 1rem
    @include transition
    @include mediaMinWidthTabletPort
      padding: 1.25rem 3rem
    &:hover
      background-color: $colorPrimary400
    .catalog__burger
      width: 1.25rem
      height: 1.25rem
      display: flex
      flex-direction: column
      justify-content: space-between
      gap: .125rem
      position: relative
      .catalog__ico
        width: 100%
        height: 100%
        position: absolute
        top: 50%
        left: 50%
        @include transform
        @include transition
        &.catalog__ico_primary
          opacity: 1
          visibility: visible
        &.catalog__ico_secondary
          fill: $colorWhite
          opacity: 0
          visibility: hidden
    .catalog__text
      font-size: 1rem
      line-height: 1.25rem
      font-family: $secondaryFont
      text-transform: uppercase
  .catalog__dropdown
    position: absolute
    top: 100%
    left: -1.25rem
    right: -1.25rem
    padding: 1.25rem 2.5rem
  
    background-color: $colorWhite

    display: none
    @include box-shadow
    @include mediaMinWidthTabletPort
      padding: 3rem
      top: calc(100% + 1.25rem)
      left: 0
      right: auto
      width: 81rem
      max-width: calc(100vw - 2.5rem)



  .catalog__list
    display: grid
    align-items: flex-start
    grid-gap: 2.75rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 3.5rem
  .catalog__item
    display: grid
    grid-gap: 1.25rem
    position: relative
    &:not(:last-child)
      &:before
        content: ""
        position: absolute
        top: calc(100% + 1.4rem)
        left: 0
        width: 100%
        border-top: 1px dotted $colorPrimary200
        @include mediaMinWidthTabletPort
          display: none
  .catalog__title
    color: $colorPrimary400 
    font-size: 1.375rem
    line-height: 1.5rem
    font-weight: 200
    @include transition
    &:hover
      color: $colorSecondary400
  .catalog__nav





    .nav__list
      display: grid
      grid-gap: .5rem
    .nav__item
      &:hover,
      &.nav__item_active
        .nav__link
          color: $colorSecondary400
          &:before
            opacity: 1
            background-color: $colorSecondary400
    .nav__link
      color: $colorPrimary300
      display: flex
      align-items: center
      gap: 1rem
      @include transition
      &:before
          content: ""
          width: .25rem
          height: .25rem
          border-radius: 50%
          background-color: $colorPrimary300
          opacity: .5
          @include transition
  &.header__catalog_active
    .catalog__preview
      background-color: $colorPrimary400
      .catalog__burger
        .catalog__ico
          &.catalog__ico_primary
            opacity: 0
            visibility: hidden
          &.catalog__ico_secondary
            opacity: 1
            visibility: visible


// header__search
.header__search
  @include mediaMinWidthTabletPort
    grid-row: span 2
    padding-left: 1.25rem
  .search__header
    width: 1.25rem
    height: 1.25rem
    display: flex
    justify-content: center
    align-items: center
    @include mediaMinWidthTabletPort
      display: none
    .search__ico
      width: 100%
      height: 100%
      fill: $colorPrimary400
  .search__main
      position: absolute
      top: 100%
      left: 0
      width: 100%
      display: none
      @include mediaMinWidthTabletPort
        display: block
        position: unset
  .form__item
    
    position: relative
    &:hover
      .search__ico
        fill: $colorPrimary400
      .form__field
        border-color: $colorPrimary400
        &::placeholder
          color: $colorPrimary400
  .form__button
    width: 3.75rem
    height: 3.75rem
    padding: 0
    cursor: pointer
    outline: none
    text-align: center
    appearance: none
    background: none
    text-transform: uppercase
    @include transition
    position: absolute
    top: 0
    left: 0
  .search__ico
    width: 1rem
    height: 1rem
    fill: $colorPrimary200
    @include transition
  .form__field
    padding: 1.25rem 2rem 1.25rem 4rem
    background-color: $colorPrimary100
    &:focus
      & ~ .form__button
        .search__ico
          fill: $colorPrimary400

// header__contact
.header__contact
  @include mediaMaxWidthTabletPort
    position: absolute
    top: 100%
    left: 0
    background: $colorWhite
    width: 100%
    padding-bottom: 1.5rem
    &:after
      content: ""
      position: absolute
      left: 1.5rem
      top: 100%
      width: calc(100% - 3rem)
      border-bottom: 1px dotted $colorPrimary200
  .contact__list
    gap: .25rem
    display: flex
    flex-direction: column
    align-items: center
    @include mediaMinWidthTabletPort
      align-items: flex-end
  .contact__item
    &.contact__item_primary
      .contact__link
        color: $colorPrimary400
        font-size: 1.125rem
        line-height: 1.25rem
        font-family: $secondaryFont
    &.contact__item_secondary
      display: none
      @include mediaMinWidthTabletPort
        display: block
      .contact__link
        color: $colorPrimary300
        &:hover
          &:after
            width: 0
        &:after
          content: ""
          position: absolute
          top: 100%
          left: 0
          width: 100%
          height: 1px
          background-color: $colorPrimary200
          @include transition
  .contact__link
    gap: .75rem
    position: relative
    display: flex
    align-items: center
  .contact__ico
    width: 1.25rem
    height: 1.25rem
    flex-shrink: 0
    transform: translateY(.125rem)

// header__callback
.header__callback
  display: none
  @include mediaMinWidthTabletPort
    display: flex
    justify-content: flex-end
  .callback__link
    font-size: .875rem
    line-height: 15remrem
    font-family: $secondaryFont
    text-transform: uppercase
    position: relative
    &:hover
      &:before
        width: 0
    &:before
      content: ""
      position: absolute
      top: calc(100% + .125rem)
      left: 0
      width: 100%
      border-top: .125rem dotted $colorSecondary400
      @include transition
// header__comparison
.header__comparison
  order: -1
  margin-left: auto
  @include mediaMinWidthTabletPort
    order: unset
    margin: 0
    display: flex
    justify-content: flex-end
  .comparison__link
    gap: .25rem
    display: flex
    align-items: center
    @include mediaMinWidthTabletPort
      gap: .75rem
  .comparison__ico
    width: 1.25rem
    height: 1.25rem
    fill: $colorPrimary400
    flex-shrink: 0
    @include mediaMinWidthTabletPort
      fill: $colorSecondary400
  .comparison__text
    font-size: 1rem
    line-height: 1.25rem
    font-weight: 500
    display: none
    @include mediaMinWidthTabletPort
      display: block
  .comparison__count
    font-size: .875rem
    line-height: 15rem
    font-family: $secondaryFont
    width: 1.25rem
    height: 1.25rem
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center


.header__nav,
.header__callback,
.header__contact
  display: none
  @include mediaMinWidthTabletPort
    display: flex

