// LAYOUT
.layout
  font-size: 1rem
  line-height: 1.25rem
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden
  overflow-y: auto
  visibility: hidden
  opacity: 0
  transition: all 0.4s ease-in-out
  @include mediaMinWidthTabletPort
    font-size: 1.125rem
    line-height: 1.5rem
    padding-top: 11.25rem
  &.layout_ready-load
    visibility: visible
    opacity: 1
  .layout__main
    flex-grow: 1
    padding: .5rem 0 2rem
    overflow: hidden
    @include mediaMinWidthTabletPort
      padding: 1rem 0 2.5rem
