// modals
.modal-init
  cursor: pointer
// modal-wrap
.layout__modal
  position: fixed
  top: 0
  left: 0
  z-index: 11
  cursor: pointer
  width: 100%
  height: 100%
  visibility: hidden
  opacity: 0
  background: rgba(0, 0, 0, 0.7)
  @include transition

.layout_modal-active
  .layout__modal
    visibility: visible
    opacity: 1
.modal__layout
  position: fixed
  top: auto
  bottom: 0
  cursor: auto
  width: 100%
  height: auto
  max-height: 95vh
  padding: 1.5rem
  gap: 2rem
  display: flex
  flex-direction: column
  background-color: $colorPrimary100
  border: .3125rem solid $colorPrimary400
  z-index: 111
  visibility: hidden
  opacity: 0
  @include transition
  @include mediaMinWidthDesktop
    top: 50%
    bottom: auto
    left: 50%
    padding: 2.5rem 3.75rem 3.75rem
    max-width: 32rem
    @include transform
  &.modal__layout_active
    visibility: visible
    opacity: 1
  // modal header
  .modal__header
    text-align: center
    .modal__title
      font-size: 1.5rem
      line-height: 1.5rem
      font-family: $secondaryFont
      text-transform: uppercase
  //modal action
  .modal__action
    width: 2.5rem
    height: 2.5rem
    flex-shrink: 0
    background-color: $colorPrimary400
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    position: absolute
    top: -1px
    right: -1px
    @include transition
    &:hover
      @include mediaMinWidthDesktop
        background-color: $colorSecondary400
        .modal__ico
          fill: $colorPrimary400
    .modal__ico
      width: 1.25rem
      height: 1.25rem
      fill: $colorWhite
      @include transition
  // modal content
  .modal__main
    overflow: hidden
    overflow-y: auto
// modal__callback
.modal__callback
  .callback__formular
    display: grid
    grid-gap: .75rem
// modal__order
.modal__order
  grid-gap: .75rem
  display: grid
  .order__product
    padding: 1.25rem
    background-color: $colorWhite
    display: grid
    grid-gap: .75rem 1rem
    grid-template-columns: 4.5rem auto
    .product__media
      width: 4.5rem
      height: 4.5rem
      grid-row: span 2
      img
        width: 100%
        height: 100%
        object-fit: container

    .product__link
      color: $colorPrimary400
      font-size: 1rem
      line-height: 1.25rem
      font-weight: 200
      display: block
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      overflow: hidden
      @include transition
      &:hover
        color: $colorSecondary400
    .product__data
    .data__list
      grid-gap: .125rem
      display: grid
    .data__item
      gap: .25rem
      display: flex
      align-items: center
      @include mediaMinWidthTabletPort
        gap: .75rem
    .data__title
      color: $colorPrimary300
      font-size: .75rem
      line-height: 1rem
      font-weight: 400
      @include mediaMinWidthTabletPort
        font-size: 1rem
        line-height: 1.5rem
    .data__text
      color: $colorPrimary400
      font-size: 1rem
      line-height: 1rem
      font-weight: 600
      text-transform: uppercase
      &.data__text_secondary
        color: $colorSecondary400
        font-size: 1rem
        line-height: 1rem
        font-weight: 200
        @include mediaMinWidthTabletPort
          font-size: 1.25rem
          line-height: 1.25rem
  .order__form,
  .calc__form
    display: grid
    grid-gap: .75rem




// FANCYBOX
.fancybox-container
  .fancybox-content
    border: 1.5rem solid $colorWhite
    box-shadow: 0 0 0 .25rem  $colorPrimary400
    @include mediaMinWidthTabletPort
      border: 3rem solid $colorWhite
  .fancybox-caption
    background: $colorWhite
    color: $colorPrimary400
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 500
    padding: 1.5rem
    @include mediaMinWidthTabletPort
      font-size: 1.375rem
      line-height: 1.375rem
  .fancybox-button--arrow_left,
  .fancybox-button--arrow_right
    width: 2rem
    height: 4rem
    padding: 0
    position: absolute
    top: 50%
    background: $colorPrimary400
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.2s ease-in-out!important
    @include transform-y
    @include mediaMinWidthTabletPort
      width: 4.5rem
      height: 6.25rem
    &[disabled]
      pointer-events: none
    &:hover
      background: $colorSecondary400
      svg
        fill: $colorPrimary400

    div
      padding: 0
      width: auto
      height: auto
    svg
      opacity: 1
      width: 1.75rem
      height: 1rem
      fill: $colorWhite
      transition: all 0.2s ease-in-out!important
      @include mediaMinWidthTabletPort
        width: 3rem
        height: 2rem
  .fancybox-toolbar
    .fancybox-button
      &:not(.fancybox-button--close)
        display: none!important
  .fancybox-button--close
    background-color: $colorPrimary400
    transition: all 0.2s ease-in-out!important
    &:hover
      background: $colorSecondary400