// NAVIGATION
.layout__navigation
  background-color: $colorPrimary100
  display: flex
  justify-content: space-between
  align-items: center
  .navigation__arrow
    .navigation__link
      width: 3.75rem
      height: 3.75rem
      background-color: $colorPrimary400
      display: flex
      justify-content: center
      align-items: center
      @include transition
      &:hover
        background-color: $colorSecondary400
    .navigation__ico
      width: 1.25rem
      height: 1.25rem
      fill: $colorWhite
  .navigation__pagination
    .pagination__list
      display: flex
    .pagination__item
      &:nth-child(2),
      &:nth-child(4)
        display: none
        @include mediaMinWidthTabletPort
          display: flex
      &:hover,
      &.pagination__item_active
        .pagination__link
          background-color: $colorWhite
    .pagination__link
      font-size: 1.125rem
      line-height: 1.5rem
      font-family: $secondaryFont
      width: 3.75rem
      height: 3.75rem
      background-color: $colorPrimary100
      display: flex
      justify-content: center
      align-items: center
      @include transition
