.layout__section
  padding: 1.75rem 0
  position: relative
  @include mediaMinWidthTabletPort
    padding: 2.5rem 0
  &.layout__section_sidebar
    @include mediaMinWidthTabletPort 
      .container
        grid-gap: 2.5rem
        display: grid
        grid-template-columns: 18.25rem auto

  .layout__subsection
    &:not(:last-child)
      margin-bottom: 1.75rem
      @include mediaMinWidthTabletPort
        margin-bottom: 3rem
  .container
    display: flex
    flex-direction: column
    gap: 2.75rem
  .section__header
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    grid-column: span 2
    @include mediaMinWidthTabletPort
      gap: 1.5rem
      flex-direction: row
      justify-content: space-between
      text-align: left
    .wysiwyg
      &:only-child
        width: 100%
      h1
        br
          display: block
          @include mediaMinWidthTabletPort
            display: none
    &.section__header_secondary
      @include mediaMinWidthTabletPort
        width: 50%
  .section__main
    gap: 2rem
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      gap: 3.75rem
    &:not(:last-child)
      margin-bottom: 1rem
  .section__media
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    align-items: flex-start
    z-index: -1
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,.7)
    img
      width: 100%
      height: 100%
  
  
  &.layout__section_secondary
    background-color: $colorPrimary100
    @include mediaMinWidthTabletPort
      padding: 4.5rem 0
  &.layout__secondary_tertiary
    color: $colorWhite
    @include mediaMinWidthTabletPort
      padding: 4rem 0
    .container
      @include mediaMinWidthTabletPort
        grid-gap: 3.5rem
  &.layout__section_pt
    @include mediaMinWidthTabletPort
      padding-top: 5rem
  &.layout__section_pb
    @include mediaMinWidthTabletPort
      padding-bottom: 5rem

  &.layout__section_pt-tiny
    padding-top: .75rem
    @include mediaMinWidthTabletPort
      padding-top: 1.25rem
  &.layout__section_pb-tiny
    padding-bottom: .75rem
    @include mediaMinWidthTabletPort
      padding-bottom: 1.25rem



    