// white color
$colorWhite: #ffffff
// primary color
$colorPrimary100: #F7F5F3
$colorPrimary200: #DEDCDA
$colorPrimary300: #7C7A78
$colorPrimary400: #000000
$colorPrimary500: #151515
// secondary color
$colorSecondary300: rgba(124,122,120,.15)
$colorSecondary400: #F15E22
// tertiary color
$colorTertiary400: #34A539
// fonts
$mainFont: 'FuturaNew', sans-serif
$secondaryFont: 'Furore', sans-serif
// mixin
@mixin transition()
  transition: all 0.3s ease-in-out

@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)

@mixin transform-none()
  transform: translate(0 , 0)

@mixin box-shadow
  box-shadow: 0 .25rem .25rem rgba(0,0,0,.25)