<footer class="layout__footer footer">
  <div class="container">
    <div class="footer__primary">
      <div class="footer__section section">
        <div class="section__header">
          <span class="section__title">Поиск товара</span>
        </div>
        <div class="section__main">
          <nav class="footer__nav nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="#">Каталог</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Сравнение</a>
              </li>
              <li class="nav__item"><a class="nav__link" href="#">Акции</a></li>
              <li class="nav__item"><a class="nav__link" href="#">Поиск</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__section section footer__section_secondary">
        <div class="section__header">
          <span class="section__title">О компании</span>
        </div>
        <div class="section__main">
          <nav class="footer__nav nav">
            <ul class="nav__list">
              <li class="nav__item"><a class="nav__link" href="#">О нас</a></li>
              <li class="nav__item">
                <a class="nav__link" href="#">Новости</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Отзывы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Производители</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Сервис</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Оплата</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Поставка</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Портфолио</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="footer__section footer__section_primary section">
        <div class="section__main">
          <div class="footer__logo logo">
            <a class="logo__link" href="#">
              <picture class="logo__img">
                <img
                  src="img/preview.jpg"
                  data-src="img/content/footer/footer__img01.png"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </picture>

              <span class="logo__title">Решения для&nbsp;производства</span>
              <span class="logo__subtitle">Результат для бизнеса</span>
            </a>
          </div>

          <div class="footer__copyright copyright">
            <span class="copyright__text">
              <strong>© 2009-2024 "Каурус Альянс"</strong> - Оснащение
              производств современными станками
            </span>
          </div>

          <div class="footer__support support">
            <ul class="support__list">
              <li class="support__item">
                <a class="support__link" href="#"
                  >Политика конфиденциальности</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__section section footer__section_tertiary">
        <div class="section__main">
          <div class="footer__design design">
            <a
              class="design__link"
              href="https://steeleggs.ru/"
              target="_blank"
            >
              <picture class="design__img">
                <img
                  data-src="img/content/footer/footer__img02.jpg"
                  src="img/preview.jpg"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </picture>

              <span class="design__text"
                >Разработка, реклама и обслуживание сайтов</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__secondary">
      <div class="footer__section section">
        <div class="section__header">
          <span class="section__title">КОНТАКТНАЯ ИНФОРМАЦИЯ</span>
        </div>
        <div class="section__main">
          <div class="footer__contact contact">
            <div class="contact__data data">
              <ul class="data__list">
                <li class="data__item">
                  <span class="data__title">Пн-Пт:</span>
                  <span class="data__subtitle">09:00-18:00</span>
                </li>
                <li class="data__item">
                  <span class="data__title">Общий:</span>
                  <a
                    class="data__subtitle data__subtitle_secondary"
                    href="mailto:order@caurus-all.com"
                    >order@caurus-all.com</a
                  >
                </li>
                <li class="data__item">
                  <span class="data__title">Сб-Вс:</span>
                  <span class="data__subtitle">выходные</span>
                </li>
                <li class="data__item">
                  <span class="data__title">Сервис:</span>
                  <a
                    class="data__subtitle data__subtitle_secondary"
                    href="mailto:ys@caurus-all.com"
                    >ys@caurus-all.com</a
                  >
                </li>
              </ul>
            </div>
            <div class="contact__socials socials">
              <ul class="socials__list">
                <li class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__ico">
                      <use xlink:href="img/sprite.svg#socials__ico01"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__ico">
                      <use xlink:href="img/sprite.svg#socials__ico02"></use>
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__ico">
                      <use xlink:href="img/sprite.svg#socials__ico03"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="contact__phones phones">
              <ul class="phones__list">
                <li class="phones__item">
                  <a class="phones__link" href="tel:88007754292"
                    >8 800 775-42-92</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="layout__callback callback">
        <div class="callback__media">
          <picture>
            <img
              data-src="img/content/callback/callback__img01.jpg"
              src="img/preview.jpg"
              src="img/preview.jpg"
              alt="image description"
            />
          </picture>
        </div>
        <div class="callback__layout">
          <div class="callback__header">
            <span class="callback__title">Иван Иванов</span>
          </div>
          <div class="callback__main">
            <span class="callback__text"
              >Эксперт по оборудованию ответит на любые ваши вопросы</span
            >
          </div>
        </div>

        <div class="callback__type callback__type_secondary type">
          <svg class="type__ico">
            <use xlink:href="img/sprite.svg#type_secondary"></use>
          </svg>
          <span class="type__text">online</span>
        </div>
        <div class="callback__action">
          <a class="btn" href="#">
            <span class="btn__text">Консультация</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
