<header class="layout__header header">
  <div class="container">
    <!-- logo -->
    <div class="header__logo logo">
      <a class="logo__link" href="index.html">
        <picture class="logo__img">
          <img
            src="img/preview.jpg"
            data-src="img/content/header/header__img01.png"
            src="img/preview.jpg"
            alt="image description"
          />
        </picture>
        <span class="logo__title">Решения для&nbsp;производства</span>
        <span class="logo__subtitle">Результат для бизнеса</span>
      </a>
    </div>
    <!-- nav -->
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <svg class="nav__ico">
            <use xlink:href="img/sprite.svg#chevronBottom"></use>
          </svg>
          <span class="nav__link">О компании</span>
          <ul class="nav__sublist">
            <li class="nav__subitem">
              <a class="nav__sublink" href="#">Складские комплексы</a>
            </li>
            <li class="nav__subitem">
              <a class="nav__sublink" href="#">Производители</a>
            </li>
            <li class="nav__subitem">
              <a class="nav__sublink" href="#">Доставка</a>
            </li>
            <li class="nav__subitem">
              <a class="nav__sublink" href="#">Отзывы</a>
            </li>
            <li class="nav__subitem">
              <a class="nav__sublink" href="#">Связь с руководством</a>
            </li>
            <li class="nav__subitem">
              <a class="nav__sublink" href="#">Новости</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Производители</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Сервис</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Поставка</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>

    <!-- contact -->
    <div class="header__contact contact">
      <ul class="contact__list">
        <li class="contact__item contact__item_primary">
          <a class="contact__link" href="tel:88007754292">
            <svg class="contact__ico">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <span class="contact__text">8 800 775-42-92</span>
          </a>
        </li>
        <li class="contact__item contact__item_secondary">
          <a class="contact__link" href="mailto:order@caurus-all.com">
            <span class="contact__text">order@caurus-all.com</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- catalog -->
    <div class="header__catalog catalog">
      <div class="catalog__preview">
        <span class="catalog__burger">
          <svg class="catalog__ico catalog__ico_primary">
            <use xlink:href="img/sprite.svg#burger"></use>
          </svg>
          <svg class="catalog__ico catalog__ico_secondary">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </span>
        <span class="catalog__text">Каталог</span>
      </div>
      <div class="catalog__dropdown">
        <div class="catalog__list">
          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#">Токарные станки с ЧПУ</a>
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">С горизонтальной станиной</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">С наклонной станиной</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">С приводным инструментом</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Токарные автоматы</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#"
                >Фрезерные обрабатывающие центры с ЧПУ</a
              >
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">Универсальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Вертикальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Горизонтальные</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#">Листогибы</a>
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">Универсальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Вертикальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Горизонтальные</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#">Заточные станки</a>
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">Универсальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Вертикальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Горизонтальные</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#">Лазерные станки</a>
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">Универсальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Вертикальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Горизонтальные</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#">Эрозия</a>
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">Универсальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Вертикальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Горизонтальные</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#"
                >Пятиосевые обрабатывающие центры</a
              >
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">Универсальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Вертикальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Горизонтальные</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="catalog__item">
            <div class="catalog__header">
              <a class="catalog__title" href="#"
                >Горизонтально-расточные станки</a
              >
            </div>
            <div class="catalog__main">
              <nav class="catalog__nav nav">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a class="nav__link" href="#">Универсальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Вертикальные</a>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link" href="#">Горизонтальные</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- search -->
    <div class="header__search search">
      <div class="search__header">
        <svg class="search__ico">
          <use xlink:href="img/sprite.svg#zoomSecondary"></use>
        </svg>
      </div>
      <div class="search__main">
        <form class="search__formular">
          <div class="form__item">
            <input
              class="form__field"
              type="search"
              placeholder="Поиск по сайту ..."
            />
            <button class="form__button btn">
              <svg class="search__ico">
                <use xlink:href="img/sprite.svg#zoomSecondary"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- burger -->
    <div class="header__burger burger">
      <span class="burger__item"></span>
      <span class="burger__item"></span>
      <span class="burger__item"></span>
    </div>

    <!-- callback -->
    <div class="header__callback callback">
      <span
        class="callback__link modal-init"
        data-modalname="modal__layout_callback"
        >Обратный звонок</span
      >
    </div>

    <!-- comparison -->
    <div class="header__comparison comparison">
      <a class="comparison__link" href="#">
        <svg class="comparison__ico">
          <use xlink:href="img/sprite.svg#comparison"></use>
        </svg>
        <span class="comparison__text">Сравнение</span>
        <span class="comparison__count">0</span>
      </a>
    </div>
  </div>
  <!-- //container -->
</header>
<!-- //header -->
