<div class="layout__modal modal">
  <!-- // CALLBACK MODAL  -->
  <div class="modal__layout modal__layout_callback">
    <!-- modal header -->
    <div class="modal__header">
      <div class="modal__title title">
        <span class="title__text">Обратная связь</span>
      </div>
      <div class="modal__action">
        <svg class="modal__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- modal main -->
    <div class="modal__main">
      <div class="modal__callback callback">
        <form class="callback__formular" action="index.html">
          <div class="form__item">
            <input class="form__field" type="text" placeholder="ФИО" required />
            <span class="form__media">
              <svg class="form__ico">
                <use xlink:href="img/sprite.svg#form__ico01"></use>
              </svg>
            </span>
          </div>
          <div class="form__item">
            <input
              name="callback__field01"
              class="form__field phone_mask"
              type="tel"
              placeholder="Номер телефона *"
              required
            />
            <span class="form__media">
              <svg class="form__ico">
                <use xlink:href="img/sprite.svg#form__ico02"></use>
              </svg>
            </span>
          </div>
          <div class="form__item">
            <textarea class="form__field form__field_textarea"></textarea>
          </div>
          <div class="form__item form__item_secondary">
            <div class="custom-check">
              <label class="custom-check__label">
                <input
                  name="callback__field02"
                  class="custom-check__input"
                  type="checkbox"
                  name="chekbox"
                  required
                />
                <svg class="custom-check__ico custom-check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="custom-check__ico custom-check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="custom-check__text"
                  >Соглашаюсь на обработку персональных данных в соответсвии
                  с <a href="#">Политикой конфиденциальности</a></span
                >
              </label>
            </div>
          </div>
          <div class="form__item">
            <button class="btn w-100">
              <span class="btn__text">Отправить</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- // ORDER MODAL  -->
  <div class="modal__layout modal__layout_order">
    <!-- modal header -->
    <div class="modal__header">
      <div class="modal__title title">
        <span class="title__text">Заказ товара</span>
      </div>
      <div class="modal__action">
        <svg class="modal__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- modal main -->
    <div class="modal__main">
      <div class="modal__order order">
        <div class="order__product product">
          <div class="product__media">
            <img
              src="img/preview.jpg"
              data-src="img/content/catalog/catalog__img01.jpg"
              alt="image description"
            />
          </div>
          <div class="product__title">
            <a class="product__link" href="#"
              >CAURUS CK6150N токарный станок с горизонтальной станиной</a
            >
          </div>
          <div class="product__data data">
            <ul class="data__list">
              <li class="data__item">
                <span class="data__title">Стоимость:</span>
                <span class="data__text data__text_secondary">2 255 000 р</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="order__formular">
          <form class="order__form" action="index.html">
            <div class="form__item">
              <input
                class="form__field"
                name="order__field01"
                type="text"
                placeholder="ФИО"
                required
              />
              <span class="form__media">
                <svg class="form__ico">
                  <use xlink:href="img/sprite.svg#form__ico01"></use>
                </svg>
              </span>
            </div>
            <div class="form__item">
              <input
                class="form__field phone_mask"
                name="order__field02"
                type="tel"
                placeholder="Номер телефона *"
                required
              />
              <span class="form__media">
                <svg class="form__ico">
                  <use xlink:href="img/sprite.svg#form__ico02"></use>
                </svg>
              </span>
            </div>
            <div class="form__item">
              <input
                class="form__field"
                name="order__field03"
                type="email"
                placeholder="Email *"
                required
              />
              <span class="form__media">
                <svg class="form__ico">
                  <use xlink:href="img/sprite.svg#form__ico03"></use>
                </svg>
              </span>
            </div>
            <div class="form__item">
              <textarea
                class="form__field form__field_textarea"
                placeholder="Опишите подробности вашего запроса"
              ></textarea>
            </div>
            <div class="form__item form__item_secondary">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    name="order__field04"
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                    required
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text"
                    >Соглашаюсь на обработку персональных данных в соответсвии
                    с <a href="#">Политикой конфиденциальности</a></span
                  >
                </label>
              </div>
            </div>
            <div class="form__item">
              <button class="btn w-100">
                <span class="btn__text">Отправить</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- // CALC MODAL  -->
  <div class="modal__layout modal__layout_calc">
    <!-- modal header -->
    <div class="modal__header">
      <div class="modal__title title">
        <span class="title__text">Расчёт рассрочки</span>
      </div>
      <div class="modal__action">
        <svg class="modal__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- modal main -->
    <div class="modal__main">
      <div class="modal__order order">
        <div class="order__product product">
          <div class="product__media">
            <img
              src="img/preview.jpg"
              data-src="img/content/catalog/catalog__img01.jpg"
              alt="image description"
            />
          </div>
          <div class="product__title">
            <a class="product__link" href="#"
              >CAURUS CK6150N токарный станок с горизонтальной станиной</a
            >
          </div>
          <div class="product__data data">
            <ul class="data__list">
              <li class="data__item">
                <span class="data__title">Стоимость:</span>
                <span class="data__text data__text_secondary">2 255 000 р</span>
              </li>
              <li class="data__item">
                <span class="data__title">Первоначальный взнос:</span>
                <span class="data__text">10 350 р</span>
              </li>
              <li class="data__item">
                <span class="data__title">Срок рассрочки:</span>
                <span class="data__text">3 мес</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="calc__formular">
          <form class="calc__form" action="index.html">
            <div class="form__item">
              <input
                class="form__field"
                type="text"
                placeholder="ФИО"
                name="calc__field01"
                required
              />
              <span class="form__media">
                <svg class="form__ico">
                  <use xlink:href="img/sprite.svg#form__ico01"></use>
                </svg>
              </span>
            </div>
            <div class="form__item">
              <input
                name="calc__field02"
                class="form__field phone_mask"
                type="tel"
                placeholder="Номер телефона *"
                required
              />
              <span class="form__media">
                <svg class="form__ico">
                  <use xlink:href="img/sprite.svg#form__ico02"></use>
                </svg>
              </span>
            </div>
            <div class="form__item">
              <input
                name="calc__field03"
                class="form__field"
                type="email"
                placeholder="Email *"
                required
              />
              <span class="form__media">
                <svg class="form__ico">
                  <use xlink:href="img/sprite.svg#form__ico03"></use>
                </svg>
              </span>
            </div>
            <div class="form__item">
              <textarea
                class="form__field form__field_textarea"
                placeholder="Опишите подробности вашего запроса"
              ></textarea>
            </div>
            <div class="form__item form__item_secondary">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    name="calc__field04"
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                    required
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text"
                    >Соглашаюсь на обработку персональных данных в соответсвии
                    с <a href="#">Политикой конфиденциальности</a></span
                  >
                </label>
              </div>
            </div>
            <div class="form__item">
              <button class="btn w-100">
                <span class="btn__text">Отправить</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
