.layout__accordion
  .accordion__list
    display: grid
    align-items: flex-start
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
        
        grid-template-columns: 1fr 1fr
  .accordion__item
    border: 1px solid $colorSecondary300
    display: flex
    flex-direction: column
    @include transition
    &:hover,
    &.accordion__item_active
      .accordion__header
        .accordion__ico
          background-color: $colorSecondary400
          img,
          svg
            fill: $colorPrimary400
            transform: rotate(0deg)
    &:hover
      border-color: $colorSecondary400
    .accordion__header
      padding: 1.25rem
      gap: 1.25rem
      display: flex
      align-items: center
      cursor: pointer
      @include mediaMinWidthTabletPort
        padding: 1.5rem
      .accordion__title
        &:not(:last-child)
          margin-right: 1rem
      .accordion__ico
        width: 2rem
        height: 2rem
        flex-shrink: 0
        background-color: $colorPrimary400
        display: flex
        justify-content: center
        align-items: center
        @include transition
        img,
        svg
          width: .75rem
          height: .5rem
          fill: $colorWhite
          transform: rotate(180deg)
          @include transition
    .accordion__dropdown
      display: none
    .accordion__layout
      display: grid
      padding: 0 1.25rem 1.25rem
      grid-gap: 1rem
      @include mediaMinWidthTabletPort
        grid-gap: 2rem
         padding: 0 1.5rem 1.5rem
        grid-template-columns: 12rem auto
    .accordion__media
      padding-top: 70%
      position: relative
      overflow: hidden
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    .accordion__main
      color: $colorPrimary300
      font-size: 1rem
      line-height: 1.25rem