// button
.btn
  color: $colorWhite
  background-color: $colorSecondary400
  font-size: .875rem
  line-height: 1.125rem
  font-weight: 400
  font-family: $secondaryFont
  padding: .625rem 1.5rem
  border: 0
  border-radius: 0
  min-height: 3.75rem
  z-index: 3
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem
  cursor: pointer
  outline: none
  text-align: center
  appearance: none
  text-transform: uppercase
  position: relative
  @include transition
  @include mediaMinWidthTabletPort
    padding: .875rem 2rem
  &:disabled
    background-color: $colorPrimary300
  &:hover
    color: $colorWhite
    background: $colorPrimary400
  // secondary button
  &.btn_secondary
    color: $colorWhite
    background-color: $colorPrimary400
    &:hover
      color: $colorSecondary400
      background-color: $colorPrimary400

  // tertiary button
  &.btn_tertiary
    color: $colorPrimary400
    background-color: $colorWhite
    &:hover
      color: $colorWhite
      background-color: $colorSecondary400
  // quarty button
  &.btn_quarty
    color: $colorSecondary400
    border: 1px solid $colorSecondary400
    background-color: transparent
    &:hover
      color: $colorWhite
      background-color: $colorSecondary400
  .btn__ico
    width: 2rem
    height: 2rem
    flex-shrink: 0
  &.btn_large
    font-size: 1.125rem
    line-height: 1.5rem
    text-align: left
    padding: 1.25rem 2rem
    gap: 2.75rem
    @include mediaMinWidthTabletPort
      text-align: center
    .btn__ico
      width: 4.5rem
      height: 4.5rem
      border: 1px solid $colorWhite
      border-radius: 50%
      position: relative
      display: flex
      justify-content: center
      align-items: center
      &:before,
      &:after
          content: ""
          position: absolute
          top: 50%
          left: 50%
          border-radius: 50%
          border: 1px solid $colorWhite
          @include transform
      &:before
          width: 5rem
          height: 5rem
          border-color: rgba(255,255,255,.4)

      &:after
          width: 5.75rem
          height: 5.75rem
          border-color: rgba(255,255,255,.1)

      svg,
      img
        width: 2.5rem
        height: 2.5rem
// buttons
.layout__buttons
  .buttons__list
    display: flex
    flex-wrap: wrap
    gap: .5rem
    @include mediaMinWidthTabletPort
      gap: 1.5rem
  .buttons__item
    width: 100%
    @include mediaMinWidthTabletPort
      width: auto


  