
// Ячейка формы
.form__item
  position: relative
  &.form__item_secondary
    padding: .5rem 0

// Иконка формы
.form__media
  top: 1.25rem
  right: 1.25rem
  width: 1.25rem
  height: 1.25rem
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  background-color: $colorPrimary100
  position: absolute
  @include transition
  .form__ico
    width: .75rem
    height: .75rem
    fill: $colorPrimary300
    @include transition

// Поле ввода
.form__field
  color: $colorPrimary400
  background-color: $colorWhite
  font-size: 1rem
  line-height: 1.125rem
  font-weight: 400
  font-family: $mainFont
  padding: 1.25rem 2rem
  width: 100%
  border-radius: 0
  border: 1px solid $colorWhite
  margin: 0
  text-overflow: ellipsis
  box-sizing: border-box
  appearance: none
  outline: none
  @include transition
  // заблокированно
  &:disabled
    opacity: .5
  // ошибка
  &.error
    border-color: $colorSecondary400
    &::placeholder
      color: $colorSecondary400
    & ~ .form__media
      background-color: $colorSecondary400
      .form__ico
        fill: $colorWhite
  // подсказка
  &::placeholder
    opacity: 1
    color: $colorPrimary300
    @include transition
  // активное поле
  &:focus,
  &:hover
    border-color: $colorPrimary400
    &::placeholder
      color: $colorPrimary400
    & ~ .form__media
      background-color: $colorPrimary400
      .form__ico
        fill: $colorWhite
  // текстареа
  &.form__field_textarea
    width: 100%
    height: 7.5rem
    resize: none

// Стилизация чекбоксов и радиокнопок
.custom-check
  .custom-check__label
    position: relative
    display: flex
    align-items: center
    cursor: pointer
  .custom-check__input
    position: absolute
    opacity: 0
    // нажатое состояние
    &:checked
      & ~.custom-check__ico
        &.custom-check__ico_before
          opacity: 0
        &.custom-check__ico_after
          opacity: 1
      & ~ .custom-check__info
        background-color: transparent
        .info__text
          display: none
        .info__ico
          display: block
    // заблокированное состояние
    &:disabled
      & ~ .custom-check__text
        color: $colorPrimary300
      & ~ .custom-check__info
        opacity: 0
        visibility: visible
    // ошибка
    &.error ~ .custom-check__text
      color: $colorSecondary400
  // текст
  .custom-check__text
    color: $colorPrimary300
    font-size: .875rem
    line-height: 1rem
    padding-left: 2rem
    a
      font-weight: 200
  .custom-check__ico
    width: 1.25rem
    height: 1.25rem
    flex-shrink: 0
    position: absolute
    top: 0
    left: 0
    @include transition
    &.custom-check__ico_before
      opacity: 1
    &.custom-check__ico_after
      opacity: 0
// Слайдер
.calc__range,
.range__slider
  height: .25rem
  background-color: $colorWhite
  border: 0 !important
  position: relative


  .ui-slider-range
    position: absolute
    z-index: 10
    font-size: .7em
    display: block
    border: 0
    top: 0
    height: 100%
    background-color: $colorSecondary400
    &.ui-widget-header
      background-color: $colorSecondary400
  .ui-slider-handle
    position: absolute
    cursor: pointer
    -ms-touch-action: none
    touch-action: none
    z-index: 11
    transform: translate(-50%,calc(-50% + .125rem))
    &:before
      content: ""
      width: 1.125rem
      height: 1.125rem
      display: flex
      border: .4rem solid $colorSecondary400
      background-color: $colorWhite
      transform: rotate(45deg)



  .range__content,
  .range__form
    font-weight: 500
    width: calc(100% + .75rem)
    margin: 0 -.375rem
    display: flex

    .range__item
      padding: 0 .375rem
      display: flex
      align-items: center

  .range__content
    font-size: .875rem
    line-height: 1rem
    justify-content: space-between

    &:not(:last-child)
      margin-bottom: .75rem

  .range__form
    font-size: 1rem
    line-height: 1.5rem

    .range__title
      &:not(:last-child)
        margin-right: .25rem

    .jcf-number
      padding: 0
      width: 2rem

    .jcf-btn-dec,
    .jcf-btn-inc
      display: none

label.error
  display: none!important