// LISTING
.layout__listing
  .listing__list
    display: flex
    flex-direction: column
    gap: .75rem
  .listing__item
    font-weight: 100
    display: flex
    gap: .75rem
    @include mediaMinWidthTabletPort
      gap: 1.25rem
  .listing__ico
    width: 1.125rem
    height: 1.125rem
    flex-shrink: 0
    transform: translateY(.125rem)










