.layout__tabs
  display: flex
  flex-direction: column
  gap: 1.5rem
  @include mediaMinWidthTabletPort
    gap: 2.75rem
  .tabs__header
    overflow: hidden
    overflow-x: auto
    @include mediaMinWidthTabletPort
      overflow: visible
    .tabs__list
      display: flex
      &:not(.tabs__list_carousel)
        flex-wrap: wrap
        @include mediaMinWidthTabletPort
          overflow: hidden
          overflow-x: auto
          flex-wrap: nowrap
          margin: 0 -.25rem
          width: calc(100% + .5rem)
          .tabs__item
            margin: 0 .25rem
        .tabs__item
          width: 50%
          @include mediaMinWidthTabletPort
              width: auto
    .tabs__item
      padding: .25rem 1.5rem
      max-width: 18.5rem
      background-color: $colorPrimary100
      border: 0.3125rem solid $colorPrimary100
      height: 3.75rem
      display: flex
      align-items: center
      justify-content: center
      flex-shrink: 0
      cursor: pointer
      @include transition
      @include mediaMinWidthTabletPort
          margin: 0 .75rem
      &:hover
        background-color: $colorWhite
        border-color: $colorSecondary400
      &.tabs__item_active
        color: $colorWhite
        background-color: $colorPrimary400
        border-color: $colorPrimary400
    .tabs__title
      font-size: .9375rem
      line-height: 1.125rem
      font-weight: 200
      text-align: center
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      overflow: hidden
  .tabs__main
    overflow: visible
    position: relative
    .tabs__item
      width: 100%
      position: absolute
      left: -100vw
      top: 0
      opacity: 0

      &.tabs__item_active
        position: relative
        opacity: 1
        left: 0
  &.layout__tabs_secondary
    .tabs__header
      .tabs__list
        .tabs__item
          width: 9.675rem
          height: 4.5rem
          padding: 0.25rem .75rem
        .tabs__title
          -webkit-line-clamp: 3

  &.layout__tabs_secondary-p
    gap: 1.25rem

.tabs__content
  &:not(:first-child)
    display: none




