// table
table
  border-collapse: collapse
  border-spacing: 0
  border: 0
  width: 100%
  tr
    &:nth-child(odd)
      td
        background-color: $colorPrimary100
  th
    color: $colorWhite
    background-color: $colorSecondary400
    font-family: $secondaryFont
    text-align: center
    text-transform: uppercase
  td,
  th
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 500
    padding: 0.5rem 1.25rem
    @include transition

.datatable
  td
    text-align: center
    &:nth-child(1)
        text-align: left
    &:nth-child(2)
        width: 5rem
        white-space: nowrap
        display: none
        @include mediaMinWidthTabletPort
            background-color: $colorWhite
            display: table-cell
    &:nth-child(3)
        @include mediaMinWidthTabletPort
          width: 12rem

