.wysiwyg
  &:not(:last-child)
    margin-bottom: 1.25rem




  h1,
  .h1
    &:not(:last-child)
      margin: 0 0 1.75rem
      @include mediaMinWidthTabletPort
        margin: 0 0 2.5rem
  h2,
  .h2
    &:not(:last-child)
      margin: 0 0 1.75rem
      @include mediaMinWidthTabletPort
        margin: 0 0 2.5rem
  h3,
  .h3,
  h4,
  .h4
    &:not(:last-child)
      margin: 0 0 1.25rem
  h5,
  .h5
    &:not(:last-child)
      margin: 0 0 .875rem
  h6,
  .h6
    &:not(:last-child)
      margin: 0 0 .5rem















  img,
  svg
    display: block
    &:not(:last-child)
      margin-bottom: 1rem
  p,
  ul,
  ol
    &:not(:last-child)
      margin-bottom: 1rem
  strong
    font-weight: 600
  ul
    list-style: none
    ul
      margin-left: 0
    li
      position: relative
      padding-left: 1.25rem
      &:before
        content: ""
        left: 0
        top: .875rem
        width: .75rem
        height: .125rem
        background-color: $colorPrimary400
        position: absolute
        &:not(:last-child)
          margin-bottom: 1.25rem
  ol
    list-style: decimal
    padding-left: 1rem
    list-style: none
    counter-reset: counter
    li
      margin: 0 0 0.5rem
      counter-increment: counter
      &:before
        content: counter(counter) ". "
        font-weight: bold

  a
    color: $colorSecondary400
    text-decoration: none






















