// container
.container
  width: 81rem
  max-width: 100vw
  margin: 0 auto
  &:not(.container_secondary)
    max-width: calc(100vw - 2.5rem)

.p_0
  padding: 0!important
.pt_0
  padding-top: 0!important 
.pb_0
  padding-bottom: 0!important
.text-center
  text-align: center

.w-100
  width: 100%

.m-hide
  @include mediaMaxWidthTabletPort
    display: none!important
.d-hide
  @include mediaMinWidthTabletPort
    display: none!important

.order_m-last
  @include mediaMaxWidthTabletPort
    order: 99