// RESET
@font-face
  font-family: FuturaNew
  font-display: auto
  font-weight: 100
  src: url(../fonts/FuturaNewBook.eot)
  src: url(../fonts/FuturaNewBook.eot) format("embedded-opentype")
  src: local("FuturaNewBook"), url(../fonts/FuturaNewBook.woff) format("woff"), url(../fonts/FuturaNewBook.ttf) format("truetype")
@font-face
  font-family: FuturaNew
  font-display: auto
  font-weight: 200
  src: url(../fonts/FuturaNewHeavy.eot)
  src: url(../fonts/FuturaNewHeavy.eot) format("embedded-opentype")
  src: local("FuturaNewHeavy"), url(../fonts/FuturaNewHeavy.woff) format("woff"), url(../fonts/FuturaNewHeavy.ttf) format("truetype")
@font-face
  font-family: FuturaNew
  font-display: auto
  font-weight: 300
  src: url(../fonts/FuturaNewLight.eot)
  src: url(../fonts/FuturaNewLight.eot) format("embedded-opentype")
  src: local("FuturaNewLight"), url(../fonts/FuturaNewLight.woff) format("woff"), url(../fonts/FuturaNewLight.ttf) format("truetype")
@font-face
  font-family: FuturaNew
  font-display: auto
  font-weight: 500
  src: url(../fonts/FuturaNewMedium.eot)
  src: url(../fonts/FuturaNewMedium.eot) format("embedded-opentype")
  src: local("FuturaNewMedium"), url(../fonts/FuturaNewMedium.woff) format("woff"), url(../fonts/FuturaNewMedium.ttf) format("truetype")
@font-face
  font-family: FuturaNewDemi
  font-display: auto
  font-weight: 600
  src: url(../fonts/FuturaNewDemi.eot)
  src: url(../fonts/FuturaNewDemi.eot) format("embedded-opentype")
  src: local("FuturaNewDemi"), url(../fonts/FuturaNewDemi.woff) format("woff"), url(../fonts/FuturaNewDemi.ttf) format("truetype")
@font-face
  font-family: Furore
  font-display: auto
  font-weight: 400
  src: url(../fonts/Furore.eot)
  src: url(../fonts/Furore.eot) format("embedded-opentype")
  src: local("Furore"), url(../fonts/Furore.woff) format("woff"), url(../fonts/Furore.ttf) format("truetype")
// RESET
html, body, div, span, applet, object, iframe,main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
*:before,*:after
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

html
  font: 100 4.44vw/1.5rem $mainFont
  @include mediaMinWidthTabletPort
    font-size: 1vw
  @include mediaMinWidthFullHdDesktop
    font-size: 16px
body
  color: $colorPrimary400
  background-color: $colorWhite
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
html,
body
  min-height: 100%

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  font-weight: 200
  margin: 0
  br
    display: block
    @include mediaMinWidthTabletPort
      display: none
  a
    text-decoration: none
    position: relative
    &:after
        content: ""
        position: absolute
        top: 100%
        left: 0
        height: .125rem
        width: 100%
        background-color: $colorSecondary400
        @include transition
    &:hover
      &:after
        width: 0
  strong
    color: $colorSecondary400
    font-weight: inherit
h1,
.h1,
h2,
.h2
  font-family: $secondaryFont
  letter-spacing: 0.05px
h1,
.h1
  font-size: 1.5rem
  line-height: 2rem
  @include mediaMinWidthTabletPort
    font-size: 2.75rem
    line-height: 3rem

h2,
.h2
  font-size: 1.375rem
  line-height: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 2.25rem
    line-height: 2.5rem

h3,
.h3
  font-size: 1.375rem
  line-height: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 2rem
    line-height: 2.25rem
h4,
.h4
  font-size: 1.375rem
  line-height: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 1.625rem
    line-height: 1.75rem
h5,
.h5
  font-size: 1.125rem
  line-height: 1.25rem
  @include mediaMinWidthTabletPort
    font-size: 1.375rem
    line-height: 1.5rem

h6,
.h6
  font-size: 1.125rem
  line-height: 1.25rem


img,
svg
  outline: none
  max-width: 100%
  max-height: 100%
  object-fit: cover
  height: auto

ul,
ol
  list-style: none
a
  color: $colorPrimary400
  text-decoration: none
strong
  font-weight: 700

