// ABOUT
.about__list
    display: flex
    flex-wrap: wrap
    gap: 1.25rem
    @include mediaMinWidthTabletPort
        gap: 2.5rem 1.5rem
    .about__item
        width: 100%
        padding: 1.5rem 2rem
        display: flex
        flex-direction: column
        @include mediaMinWidthTabletPort
            padding: 3rem
        &.about__item_primary
            color: $colorWhite
            background-color: $colorPrimary400
            display: flex
            align-items: center
            justify-content: center
            @include mediaMinWidthTabletPort
                width: 19rem
            .about__header
                text-align: center
                gap: 1.25rem
            .about__title
                color: $colorSecondary400
                font-size: 2.875rem
                line-height: 2.875rem
                font-family: $secondaryFont
            .about__subtitle
                font-size: 1rem
                line-height: 1.25rem
        &.about__item_secondary
            color: $colorWhite
            background-color: $colorSecondary400
            gap: .75rem
            margin-bottom: 1.5rem
            position: relative
            @include mediaMinWidthTabletPort
                margin-bottom: 0
                width: 29.5rem
            .about__header
                gap: .75rem
                text-align: center
                @include mediaMinWidthTabletPort
                    text-align: left
            .about__subtitle
                font-size: 1.25rem
                line-height: 1.25rem
            .about__title
                font-size: 1.375rem
                line-height: 1.5rem
                font-family: $secondaryFont
                text-transform: uppercase
                @include mediaMinWidthTabletPort
                    font-size: 1.625rem
                    line-height: 1.625rem
            .about__media
                display: flex
                align-items: flex-start
                margin: 0rem -5rem -6.75rem
                width: calc(100% + 9rem)
                max-width: calc(100% + 9rem)
                height: 19rem
                z-index: 2
                @include mediaMinWidthTabletPort
                    width: 24.375rem
                    height: 16.875rem
                    margin: -1rem auto -7.5rem
                img,
                svg
                    width: 100%
                    height: 100%
                    object-fit: container
        &.about__item_tertiary
            color: $colorPrimary400
            background-color: $colorPrimary100
            gap: 2rem
            @include mediaMinWidthTabletPort
                width: 29.5rem
            .about__media
                width: 5rem
                height: 5rem
                display: flex
                align-items: flex-start
                img,
                svg
                    width: 100%
                    height: 100%
                    object-fit: container
            .about__header
                font-size: 1.125rem
                line-height: 1.5rem
                font-weight: 200
                @include mediaMinWidthTabletPort
                    font-size: 1.3725rem
                    line-height: 1.5rem
        &.about__item_quarty
            border: 1px solid $colorPrimary100
            display: flex
            flex-direction: column
            @include mediaMinWidthTabletPort
                width: calc(50% - .75rem)
                padding: 3rem 3.75rem
            .about__header
                &:not(:last-child)
                    margin-bottom: 2rem
            .about__main
                &:not(:last-child)
                    margin-bottom: 2rem
                    @include mediaMinWidthTabletPort
                        margin-bottom: 5rem
            .about__media
                width: 25rem
                height: 12rem
                margin-top: auto
                margin-bottom: -5.75rem
                @include mediaMinWidthTabletPort
                    margin-bottom: -8.75rem
        .about__header
            display: flex
            flex-direction: column
        .about__media
            display: flex
            aalign-items: flex-start