// ADVANTAGES
.layout__advantages
    .advantages__list
        display: grid
        align-items: flex-start
        grid-gap: 1.5rem
        @include mediaMinWidthTabletPort
            grid-template-columns: repeat(3, 1fr)
    .advantages__item
        padding: 2rem
        height: 100%
        gap: 1.25rem
        display: flex
        align-items: flex-start
        flex-direction: column
        @include mediaMinWidthTabletPort
            padding: 3rem
            gap: 2rem
        &.advantages__item_primary
            background-color: $colorPrimary100
        &.advantages__item_secondary
            padding: 0
            background-color: $colorSecondary400
            order: 99
            @include mediaMinWidthTabletPort
                order: unset
        &.advantages__item_tertiary
            border: 1px solid $colorPrimary100
    .advantages__media
        width: 5rem
        height: 5rem
        display: flex
        justify-content: flex-start
        align-items: flex-start
    .advantages__footer
        color: $colorWhite
        background-color: $colorPrimary400
        font-size: .875rem
        line-height: 1.25rem
        font-family: $secondaryFont
        padding: 1rem 2rem
        margin: 0 -2rem -2rem
        text-align: center
        text-transform: uppercase
        @include mediaMinWidthTabletPort
            padding: 1rem 3rem
            margin: 0 -3rem -3rem
.advantages__banner
    height: 100%
    margin: 0 -1.25rem
    width: calc(100% + 2.5rem)
    @include mediaMinWidthTabletPort
        width: auto
        margin: 0
    .banner__link
        color: $colorWhite
        height: 100%
        background-color: $colorSecondary400
        padding: 1.25rem 2.5rem
        display: flex
        flex-direction: row
        gap: 2rem
        justify-content: center
        align-items: center
        text-align: center
        @include transition
        @include mediaMinWidthTabletPort
            flex-direction: column
            padding: 2rem 4rem
            gap: 2.5rem
        &:hover
            background-color: $colorPrimary500
    .banner__media
        width: 4.5rem
        height: 4.5rem
        border: .125rem solid $colorWhite
        border-radius: 50%
        display: flex
        justify-content: center
        flex-shrink: 0
        align-items: center
        position: relative
        @include mediaMinWidthTabletPort
            width: 8.75rem
            height: 8.75rem
        &:before,
        &:after
            content: ""
            position: absolute
            top: 50%
            left: 50%
            border-radius: 50%
            border: 1px solid $colorWhite
            @include transform
        &:before
            width: 5rem
            height: 5rem
            border-color: rgba(255,255,255,.4)
            @include mediaMinWidthTabletPort
                width: 10rem
                height: 10rem
        &:after
            width: 5.75rem
            height: 5.75rem
            border-color: rgba(255,255,255,.1)
            @include mediaMinWidthTabletPort
                width: 11.25rem
                height: 11.25rem
        img,
        svg
            width: 2.5rem
            height: 2.5rem
            @include mediaMinWidthTabletPort
                width: 5rem
                height: 5rem
    .banner__title
        font-size: 1.125rem
        line-height: 1.5rem
        font-family: $secondaryFont
        text-transform: uppercase
        text-align: left
        @include mediaMinWidthTabletPort
            text-align: center






