// ARGUMENTS
.layout__arguments
    .arguments__list
        display: grid
        grid-gap: 1.25rem 1.5rem
        @include mediaMinWidthTabletPort
            grid-template-columns: repeat(2, 1fr)
    .arguments__item
        border-left: .3125rem solid $colorSecondary400
        background-color: $colorPrimary100
        display: flex
        min-height: 4.5rem
        @include mediaMinWidthTabletPort
            min-height: 7rem
        &:nth-child(odd)
            order: 1
            @include mediaMinWidthTabletPort
                order: unset
        &:nth-child(even)
            order: 2
            @include mediaMinWidthTabletPort
                order: unset
    .arguments__header
        color: $colorWhite
        background-color: $colorPrimary400
        width: 3.75rem
        height: 100%
        flex-shrink: 0
        display: flex
        justify-content: center
        align-items: center
        @include mediaMinWidthTabletPort
            width: 6.25rem
    .arguments__title
        font-size: 1.25rem
        line-height: 1.25rem
        font-family: $secondaryFont
        @include mediaMinWidthTabletPort
            font-size: 2.25rem
            line-height: 2.25rem
    .arguments__main
        padding: .75rem 1.25rem
        display: flex
        align-items: center
        @include mediaMinWidthTabletPort
            padding: 1.5rem 2.5rem