// ARTICLE
.layout__article
    gap: 1.5rem
    display: grid
    @include mediaMinWidthTabletPort
        gap: 2.5rem 1.5rem
        grid-template-columns: auto 12.25rem
.article__header
    @include mediaMinWidthTabletPort
        gap: 2.75rem
        grid-column: span 2
.article__media
    width: 100%
    padding-top: 100%
    position: relative
    @include mediaMinWidthTabletPort
        padding-top: 57%
    img,
    svg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
.article__sidebar
    gap: 1rem
    display: flex
    order: 9
    flex-shrink: 0
    flex-direction: column
    @include mediaMinWidthTabletPort
        order: unset
    .sidebar__media
        padding-top: 100%
        position: relative
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    .sidebar__date
        color: $colorWhite
        background-color: $colorSecondary400
        font-size: .75rem
        line-height: 1.25rem
        letter-spacing: .05px
        font-family: $secondaryFont
        padding: .25rem 1.25rem
        border-left: .25rem solid $colorPrimary400
        position: absolute
        left: 0
        bottom: 0
    .sidebar__main
        gap: .25rem
        display: flex
        align-items: center
    .sidebar__text
        color: $colorPrimary300
        font-size: 1rem
        line-height: 1.5rem
    .sidebar__title
        color: $colorPrimary400
        font-size: 1.125rem
        line-height: 1.5rem
        font-weight: 200
.article__main
    gap: 1.5rem
    display: grid
    @include mediaMinWidthTabletPort
        gap: 2.75rem
        grid-column: span 2
        font-size: 1.375rem
        line-height: 1.75rem
.article__slider
    width: calc(100vw - 2.5rem)
    @include mediaMinWidthTabletPort
        width: 60rem
    .slider__item
        gap: 1.5rem
        display: flex
        flex-direction: column
    .slider__media
        width: 100%
        padding-top: 100%
        position: relative
        @include mediaMinWidthTabletPort
            padding-top: 44%
        img,
        svg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    .slider__title
        display: flex
        justify-content: center
    .slider__text
        color: $colorPrimary300
        font-size: .875rem
        line-height: 1rem
    .slick-arrow
        &.slick-prev
            right: 100%
            left: auto
            transform: translate(100%, -50%)
        &.slick-next
            left: 100%
            right: auto
            transform: translate(-100%, -50%)

