// ARTICLES
.layout__articles
    .articles__list
        &.articles__list_primary
            display: grid
            grid-gap: 1.25rem
            .articles__link
                padding: 1.5rem
                border: .3125rem solid $colorPrimary100
                display: grid
                grid-gap: 1.5rem
                @include transition
                @include mediaMinWidthTabletPort
                    grid-gap: 2.5rem
                    padding: 2.5rem
                    grid-template-columns: 18.5rem auto
                &:hover
                    border-color: $colorSecondary400
                    .articles__title
                        color: $colorSecondary400
            .articles__layout
                display: flex
                flex-direction: column
            .articles__header
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                &:not(:last-child)
                    margin-bottom: .875rem
            .articles__title
                color: $colorPrimary400
                @include transition
            .articles__main
                font-size: 1.125rem
                line-height: 1.5rem
                display: -webkit-box
                -webkit-line-clamp: 4
                -webkit-box-orient: vertical
                overflow: hidden
                &:not(:last-child)
                    margin-bottom: .875rem
            .articles__footer
                color: $colorPrimary300
                font-size: 1rem
                line-height: 1.25rem
                margin-top: auto
                .articles__subtext
                    color: $colorPrimary400
                    font-weight: 400
    
        &.articles__list_secondary
            display: grid
            grid-gap: 2.5rem
            .articles__link
                display: flex
                flex-direction: column
                &:hover
                    .articles__text
                        color: $colorSecondary400
            .articles__header
                &:not(:last-child)
                    margin-bottom: .25rem
            .articles__media
                &:not(:last-child)
                    margin-bottom: 1.125rem
            .articles__title
                color: $colorPrimary300
                font-size: 1rem
                line-height: 1.5rem
                display: -webkit-box
                -webkit-line-clamp: 1
                -webkit-box-orient: vertical
                overflow: hidden
            .articles__text
                color: $colorPrimary400
                font-weight: 200
                display: -webkit-box
                -webkit-line-clamp: 4
                -webkit-box-orient: vertical
                overflow: hidden
                @include transition
                @include mediaMinWidthTabletPort
                    font-size: 1.125rem
                    line-height: 1.5rem
    .articles__media
        padding-top: 60%
        position: relative

        img,
        svg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    .articles__date
        color: $colorWhite
        background-color: $colorSecondary400
        font-size: .75rem
        line-height: 1.25rem
        letter-spacing: .05px
        font-family: $secondaryFont
        padding: .25rem 1.25rem
        border-left: .3125rem solid $colorPrimary400
        position: absolute
        left: 0
        bottom: 0
