// BANNER
.layout__banner
    position: relative
    .container
        position: relative
        @include mediaMinWidthTabletPort
            position: unset
    .banner__media
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(0,0,0,.6)
            z-index: 2
        img,
        video,
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
        video
            width: 100%
            height: auto
    .banner__layout
        color: $colorWhite
        display: flex
        flex-direction: column
        gap: .75rem
        position: relative
        z-index: 2
        padding: 8.75rem 1.25rem
        position: relative
        @include mediaMinWidthTabletPort
            padding: 16rem 0
    .slogan__item
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: .5rem
    .slogan__title,
    .slogan__subtitle
        text-transform: uppercase
    .slogan__title
        font-size: 1.125rem
        line-height: 1.5rem
        font-family: $secondaryFont
        padding: 1rem 1.25rem
        background-color: rgba(0,0,0,.6)
        border-left: .3125rem solid $colorSecondary400
        @include mediaMinWidthTabletPort
            font-size: 2.75rem
            line-height: 3.125rem
            padding: 1.5rem 3rem
    .slogan__subtitle
        font-size: 2.25rem
        line-height: 2.5rem
        font-family: $secondaryFont
        @include mediaMinWidthTabletPort
            font-size: 5.5rem
            line-height: 5.5rem


    .layout__callback
        margin-bottom: -1.5rem
        @include mediaMinWidthTabletPort
            position: absolute
            margin-bottom: 0
            bottom: 0
            left: calc(50% + 14.075rem)
            width: 26.25rem
            z-index: 2