// BOXES
.layout__boxes
    .boxes__list
        grid-gap: 1.5rem
        display: grid
        @include mediaMinWidthTabletPort
            grid-gap: 2.5rem
            grid-template-columns: 1fr 1fr
    .boxes__item
        border: 1px solid rgba(124,122,120,.15)
        padding: 1.5rem
        border-left: .3125rem solid $colorSecondary400
        display: grid
        grid-gap: 1.5rem
        @include mediaMinWidthTabletPort
            padding: 2.5rem 3.75rem
            grid-gap: 2rem