// CALLBACK
.layout__callback
    padding: 1.25rem
    background-color: $colorWhite
    display: grid
    align-items: flex-start
    grid-gap: 0 1.25rem
    grid-template-columns: 5.75rem auto
    position: relative
    z-index: 2
    @include mediaMinWidthTabletPort
        position: relative
        z-index: 2
        padding: 2rem 2rem 0
        grid-gap: 0 2rem
        
    .callback__media
        width: 5.75rem
        height: 5.75rem
        position: relative
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    .callback__layout
        display: grid
        grid-gap: .5rem
    .callback__header
        color: $colorPrimary400
        font-size: 1.125rem
        line-height: 1.25rem
        font-weight: 200
    .callback__main
        color: $colorPrimary300
        font-size: .9375rem
        line-height: 1.25rem
    .callback__type
        grid-gap: .25rem
        padding: 1.25rem .5rem
        display: grid
        align-items: center
        justify-content: center
        grid-template-columns: .5rem auto
        &.callback__type_primary
            .type__text
                color: $colorTertiary400
        &.callback__type_secondary
            .type__text
                color: $colorSecondary400
        .type__ico
            weight: .5rem
            height: .5rem
        .type__text
            font-size: .75rem
            line-height: 1.25rem
            font-family: $secondaryFont
            text-transform: uppercase
    .callback__action
        .btn
            width: 100%