// CAP
.layout__cap
    margin: 0 -1.25rem
    @include mediaMinWidthTabletPort
        margin: 0
    .cap__list
        display: grid

        @include mediaMinWidthTabletPort
            grid-gap: 1.5rem
            grid-template-columns: 1fr 1fr
    .cap__item
        padding: 1.25rem
        background-color: $colorWhite
        grid-gap: 1.125rem 2.5rem
        display: grid
        @include mediaMinWidthTabletPort
            padding: 1.25rem
        &.cap__item_primary
            @include mediaMinWidthTabletPort
                grid-template-columns: 16.5rem auto

        &.cap__item_secondary
            @include mediaMinWidthTabletPort
                padding: 2rem 3rem .75rem
                grid-template-columns: 5rem auto
    .cap__media
        display: flex
        align-items: center
        justify-content: center
        @include mediaMinWidthTabletPort
            grid-row: span 2
    .cap__header
        display: flex
        align-items: flex-end
    .cap__main
        display: grid
        grid-gap: .25rem
    .cap__title
        color: $colorPrimary400
    .cap__subtitle
        color: $colorPrimary400
        font-size: 1.125rem
        line-height: 1.25rem
        font-weight: 200
    .cap__text
        color: $colorPrimary400
        font-size: 1.125rem
        line-height: 1.25rem
    .cap__subtext
        color: $colorPrimary300
        font-size: 1rem
        line-height: 1.25rem









