// CASE
.layout__case
    display: grid
    grid-gap: 4rem
    align-items: flex-start
    @include mediaMinWidthTabletPort
        grid-gap: 4rem 2rem
        grid-template-columns: 18.5rem auto
    .case__section
        display: flex
        flex-direction: column
        gap: 3rem
        &:last-child
            @include mediaMinWidthTabletPort
                grid-column: span 2
        .section__header,
        .section__main,
        .section__footer
            margin: 0
.case__testimonials
    .testimonials__link
        display: grid
        grid-gap: 1.5rem
        &:hover
            .testimonials__media
                &:before,
                &:after
                    border-color: $colorSecondary400
    .testimonials__media
        padding-top: 142%
        position: relative
        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 6rem
            border: .3125rem solid $colorPrimary100
            z-index: 2
            @include transition
            z-index: 2
        &:before
            top: 0
            border-bottom: 0
        &:after
            bottom: 0
            border-top: 0
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
.case__slider
    width: calc(100vw - 2.5rem)
    @include mediaMinWidthTabletPort
        width: 60.375rem
    .slick-arrow
        &.slick-prev
            left: auto
            right: 100%
            transform: translate(100%,-50%)
        &.slick-next
            left: 100%
            right: auto
            transform: translate(-100%,-50%)    
    .slider__media
        padding-top: 100%
        position: relative
        @include mediaMinWidthTabletPort
            padding-top: 50%
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%


.case__support
    display: grid
    grid-gap: 3rem




