// CASES
.layout__cases
    .cases__list
        grid-gap: 1rem
        display: grid
        @include mediaMinWidthTabletPort
            grid-gap: 1.5rem
            grid-template-columns: repeat(3, 1fr)
    .cases__item
        &:hover,
        &.active
            .cases__link
                border-color: $colorSecondary400
    .cases__link
        padding: .25rem 1.5rem
        border: .3125rem solid $colorPrimary100
        gap: 1.5rem
        display: flex
        align-items: center
        cursor: pointer
        @include transition
        @include mediaMinWidthTabletPort
            padding: 1.75rem
            gap: 2rem

    .cases__img
        width: 5rem
        height: 5rem
        @include mediaMinWidthTabletPort
            width: 6.75rem
            height: 6.75rem
    .cases__title
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden











