// CATALOGS
.layout__catalogs
    .catalogs__list
        display: grid
        align-items: flex-start
        grid-gap: .75rem
        @include mediaMinWidthTabletPort
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 1.25rem 1.5rem  
        &.catalogs__list_secondary
            @include mediaMinWidthTabletPort
                .catalogs__link
                    grid-template-columns: 8.25rem auto
    .catalogs__item
        display: flex
        &:nth-child(odd)
            order: -1
            @include mediaMinWidthTabletPort
                order: unset
    .catalogs__link
        background-color: $colorPrimary100
        display: grid
        align-items: flex-start
        width: 100%
        grid-template-columns: 6.75rem auto
        @include transition
        @include mediaMinWidthTabletPort
            grid-template-columns: 15rem auto
        &:hover
            background-color: $colorWhite
            .catalogs__title
                color: $colorSecondary400
    .catalogs__media
        height: 100%
        display: flex
        align-items: flex-start
        img,
        svg
            width: 100%
            height: 100%

    .catalogs__layout
        padding: 1.25rem
        height: 100%
        align-items: center
        display: grid
        grid-gap: 1.25rem
        @include mediaMinWidthTabletPort
            padding: 2.5rem
    .catalogs__preview
        display: flex
        align-items: flex-start
    .catalogs__title
        color: $colorPrimary400
        font-size: 1.375rem
        line-height: 1.5rem
        font-weight: 200
        @include transition
    .catalogs__subcatalogs
        .subcatalogs__list
            gap: .25rem
            display: flex
            flex-direction: column
        .subcatalogs__item
            color: $colorPrimary300
            display: flex
            align-items: center
            gap: 1rem
            &:before
                content: ""
                width: .25rem
                height: .25rem
                border-radius: 50%
                background-color: $colorPrimary300
                opacity: .5 




