// CATALOG
.layout__catalog
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
        grid-gap: 2.5rem
        grid-template-columns: 18.75rem auto
.catalog__filters
    background-color: $colorPrimary100
    display: grid
    @include mediaMinWidthTabletPort
        grid-row: span 2
    &.catalog__filters_active
        .filters__header
            background-color: $colorSecondary400
            @include mediaMinWidthTabletPort
                background-color: transparent
        .filters__action

            @include mediaMinWidthTabletPort
                background-color: $colorSecondary400
            .filters__ico
                transform: rotate(0deg)
    .filters__header
        color: $colorWhite
        padding: .875rem
        display: flex
        justify-content: center
        align-items: center
        gap: .5rem
        background-color: $colorPrimary400
        @include mediaMinWidthTabletPort
            color: $colorPrimary400
            padding: 1.75rem 2rem
            display: grid
            grid-template-columns: auto 2rem
            background-color: transparent
            cursor: pointer
            justify-content: space-between
    .filters__action
        width: 1.25rem
        height: 1.25rem
        display: flex
        justify-content: center
        align-items: center
        order: -1
        @include mediaMinWidthTabletPort
            order: 2
            width: 2rem
            height: 2rem
            background-color: $colorPrimary400
        .filters__ico
            width: .75rem
            height: .75rem
            transform: rotate(180deg)
            

    .filters__main
        padding: 1.25rem 2rem 1.75rem
        @include mediaMinWidthTabletPort
            padding-top: 0
    .filters__item
        display: grid
        grid-gap: 1.25rem
        position: relative
        &:not(:last-child)
            margin-bottom: 1.5rem
            padding-bottom: 1.5rem
            &:after
                content: ""
                position: absolute
                left: -2rem
                top: 100%
                width: calc(100% + 4rem)
                border-bottom: 1px dotted $colorPrimary200
                z-index: 2
                @include transition

    .filter__main
        display: grid
        grid-gap: .75rem
    .filter__field
    .filter__label
        position: relative
        display: flex
        align-items: center
        cursor: pointer
    .filter__input
        position: absolute
        opacity: 0
    

        &:checked
            & ~.filter__ico
                &.filter__ico_before
                    opacity: 0
                &.filter__ico_after
                    opacity: 1
            & ~ .filter__tooltip
                background-color: transparent
                .tooltip__text
                    display: none
                .tooltip__ico
                    display: block

        &:disabled
            & ~ .filter__text
                color: $colorPrimary300
            & ~ .filter__info
                opacity: 0
                visibility: visible

        &.error ~ .filter__text
            color: $colorSecondary400

    .filter__text
        color: $colorPrimary400
        font-size: .875rem
        line-height: 1.25rem
        font-weight: 200
        padding-left: 2rem
        &.filter__text_secondary
            text-transform: uppercase
            font-family: $secondaryFont
    .filter__tooltip
        color: $colorPrimary300
        background-color: $colorWhite
        width: 2rem
        height: 1.25rem
        margin-left: auto
        display: flex
        justify-content: center
        align-items: center
        @include transition
        .tooltip__text
            font-size: .75rem
            line-height: 1rem
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden
            font-weight: 200
            display: block

        .tooltip__ico
            width: .625rem
            height: .625rem
            fill: $colorPrimary400
            display: none

    .filter__ico
        width: 1.25rem
        height: 1.25rem
        
        flex-shrink: 0
        position: absolute
        top: 0
        left: 0
        @include transition

        &.filter__ico_before
            opacity: 1

        &.filter__ico_after
            opacity: 0
    .filter__range
        display: grid
        .range__header
            &:not(:last-child)
                margin-bottom: 1rem
            .range__list
                display: grid
                grid-gap: .75rem
                grid-template-columns: 1fr 1fr
            .range__item
                color: $colorPrimary400
                background-color: $colorWhite
                font-size: 1rem
                line-height: 1.25rem
                font-weight: 200
                padding: .25rem
                display: flex
                text-transform: uppercase
                justify-content: center
                align-items: center
            .range__val
                font-size: 1rem
                line-height: 1.25rem
                font-weight: 200
                font-family: $mainFont
                width: 3.5rem
                border: 0
                text-align: right
                text-transform: uppercase
                background: none
                text-overflow: ellipsis
                box-sizing: border-box
                appearance: none
                outline: none
        .range__slider
            &:not(:last-child)
                margin-bottom: .5rem
        .range__footer
            .range__list
                display: flex
                justify-content: space-between
                gap: .75rem
            .range__item
                color: $colorPrimary400
                font-size: .75rem
                line-height: 1.25rem
                font-weight: 200
.catalog__layout
    grid-gap: 1.5rem
    display: grid
    @include mediaMinWidthTabletPort
        grid-gap: 2.5rem

.catalog__sorting
    padding: 1rem 1.25rem
    margin: 0 -1.5rem
    background-color: $colorPrimary100
    display: flex
    flex-direction: column
    grid-gap: .5rem
    @include mediaMinWidthTabletPort
        margin: 0
        flex-direction: row
        align-items: center
        grid-gap: 2rem
        padding: 2rem
    .sorting__list
        gap: .5rem
        display: flex
        flex-wrap: wrap
        @include mediaMinWidthTabletPort
            gap: 2rem
    .sorting__label
        cursor: pointer
        position: relative
        &:hover
            .sorting__text
                color: $colorSecondary400
    .sorting__input
        position: absolute
        left: -9999999px
        &:checked
            & ~ .sorting__text
                color: $colorSecondary400
    .sorting__text
        color: $colorPrimary400
        font-size: 1rem
        line-height: 1.25rem
        font-weight: 500
        @include transition
        @include mediaMinWidthTabletPort
            font-size: 1.375rem
            line-height: 1.5rem

.catalog__main
    display: grid
    grid-gap: 2.5rem
