// CLIENTS
.layout__clients
    .slick-arrow
        background-color: $colorWhite
    .clients__link
        padding: 0 0.75rem
    .clients__link
        background-color: $colorWhite
        display: flex
        @include mediaMinWidthTabletPort
            background-color: transparent
      


