// COMPARISON
.layout__comparison
    .comparison__list
        display: grid
        grid-gap: 3.625rem
    .comparison__item
        display: grid
        grid-gap: 2.75rem
    .comparison__header
        gap: .5rem
        font-size: 1.375rem
        line-height: 1.5rem
        display: flex
        flex-direction: column
        @include mediaMinWidthTabletPort
            gap: 2rem
            flex-direction: row
            align-items: center
    .comparison__title
        font-weight: 600



    .layout__products
        .products__list
            display: flex
            overflow: hidden
            overflow-x: auto
            max-width: calc(100vw - 2.5rem)
        .products__link
            &:hover
                .products__footer
                    &:after
                        border-color: $colorSecondary400
            &:after
                display: none
        .products__footer
            position: relative
            &:after
                content: ""
                position: absolute
                left: 0
                width: 100%
                height: 6rem
                border: .25rem solid $colorPrimary100
                border-top: 0
                bottom: 0
                z-index: 2
                @include transition

