// COMPANIES
.layout__companies
    .companies__list
        grid-gap: 1rem
        display: grid
        @include mediaMinWidthTabletPort
            grid-gap: 1.5rem
            grid-template-columns: repeat(4, 1fr)
    .companies__item
        &:hover
            .companies__link
                &:before,
                &:after
                    border-color: $colorSecondary400
    .companies__link
        padding: 1.25rem
        height: 100%
        display: flex
        flex-direction: column
        position: relative
        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 3.25rem
            border: .3125rem solid $colorPrimary100
            z-index: -1
            @include transition
        &:before
            top: 0
            border-bottom: 0
        &:after
            bottom: 0
            border-top: 0
    .companies__img
        &:not(:last-child)
            margin-bottom: .75rem
    .companies__title
        color: $colorPrimary400
        font-size: 1.125rem
        line-height: 1.5rem
        font-weight: 200
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
        &:not(:last-child)
            margin-bottom: .5rem
    .companies__text
        color: $colorPrimary300
        font-size: 1rem
        line-height: 1.25rem
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden




