// CONSULTATION
.layout__consultation
    margin: 0 1.5rem
    padding: 1.25rem
    border: 1px solid $colorPrimary100
    display: grid
    align-items: center
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
        grid-template-columns: 35rem auto auto
        grid-gap: 3.75rem
        margin: 0
        padding: 1.25rem 2.5rem
    .consultation__main
        font-size: 1rem
        line-height: 1.25rem
        text-align: center
        @include mediaMinWidthTabletPort
            text-align: left
    .consultation__text
        @include mediaMinWidthTabletPort
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
    .consultation__action
        @include mediaMinWidthTabletPort
    .consultation__media
        width: 11.25rem
        height: 11.25rem
        margin: 0 auto -2.125rem
        display: flex
        align-items: flex-end
        @include mediaMinWidthTabletPort
            margin: -8.125rem 0 -5rem







