// CONTACT
.layout__contact
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
        grid-gap: 2.5rem
        grid-template-columns: 1fr 1fr
    .contact__media
        margin: 0 -1.25rem
        padding-top: 100%
        width: calc(100% + 2.5rem)
        display: flex
        position: relative
        @include mediaMinWidthTabletPort
            margin: 0
            width: 100%
            grid-column: span 2
            padding-top: 40.89%
        
        .contact__iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    .contact__group
        padding: 1.5rem
        height: 100%
        display: flex
        flex-direction: column
        border: 1px solid $colorPrimary100
        @include mediaMinWidthTabletPort
            padding: 2.75rem 3.75rem
        &.contact__group_primary
            background-color: $colorPrimary100
        .group__header
            &:not(:last-child)
                margin-bottom: 2rem
        .group__main
            &:not(:last-child)
                margin-bottom: 2.75rem
        .contact__data
            &.contact__data_primary
                .data__list
                    display: grid
                    grid-gap: 1.125rem
                .data__item
                    font-size: 1.375rem
                    line-height: 1.375rem
                    gap: 3rem
                    display: flex
                    position: relative
                    @include mediaMinWidthTabletPort
                        gap: 6.25rem
                    &:after
                        content: ""
                        position: absolute
                        bottom: 0.25rem
                        left: 3.25rem
                        width: 3rem
                        border-top: 1px dotted $colorPrimary200
                        @include mediaMinWidthTabletPort
                            width: 6rem
                .data__title
                    width: 3.25rem
                    font-weight: 400
                    text-transform: uppercase
                .data__value
                    font-weight: 200
            &.contact__data_secondary
                display: grid
                grid-gap: 1rem
                @include mediaMinWidthTabletPort
                    grid-template-columns: 1fr 1fr
                .data__list
                    grid-gap: .5rem
                    display: grid
                .data__item
                    gap: .75rem
                    display: flex
                    align-items: center
                .data__title
                    color: $colorPrimary300
                    font-size: .875rem
                    line-height: 1rem
                .data__text
                    &.data__text_primary
                        color: $colorPrimary400
                        font-size: 1rem
                        line-height: 1.25rem
                        font-family: $secondaryFont
                    &.data__text_secondary
                        color: $colorPrimary400
                        font-size: 1rem
                        line-height: 1.25rem
                        font-weight: 400
                    &.data__text_tertiary
                        color: $colorSecondary400
                        font-size: 1rem
                        line-height: 1.25rem
                        font-weight: 400
                        position: relative
                        cursor: pointer
                        &:after
                            content: ""
                            position: absolute
                            top: 100%
                            left: 0
                            height: 1px
                            width: 100%
                            background-color: $colorSecondary400
                            opacity: .3
                            @include transition
                        &:hover
                            &:after
                                width: 0
        .contact__content
            position: relative
            &:not(:last-child)
                margin-bottom: 2.5rem
                @include mediaMinWidthTabletPort
                    margin-bottom: 3.75rem
            &:after
                content: ""
                position: absolute
                top: calc(100% + 1.25rem)
                left: 0
                width: 100%
                border-top: 1px dotted $colorPrimary200
                @include mediaMinWidthTabletPort
                    top: calc(100% + 1.875rem)
                

        
        
        .group__footer
            display: flex
            justify-content: flex-start
        








