// DELIVERY
.layout__delivery
    .delivery__tooltipe
        padding: 1.25rem
        background-color: $colorPrimary100
        display: flex
        gap: 1rem
        @include mediaMinWidthTabletPort
            padding: 3.75rem
            align-items: center
            gap: 2.5rem
        &:not(:Last-child)
            margin-bottom: 1.5rem
        @include mediaMinWidthTabletPort
            padding: 3.75rem 25.5rem 3.75rem 3.75rem
        .tooltipe__ico
            width: 2rem
            height: 2rem
            flex-shrink: 0
            @include mediaMinWidthTabletPort
                width: 4.5rem
                height: 4.5rem
        .tooltipe__text
              font-family: $secondaryFont
              text-transform: uppercase
    .delivery__data
        &:not(:Last-child)
            margin-bottom: 2.5rem
            @include mediaMinWidthTabletPort
                margin-bottom: 4.5rem
        .data__list
            display: grid
            grid-gap: 1.25rem
            @include mediaMinWidthTabletPort
                grid-gap: 1.5rem
                grid-template-columns: repeat(2,1fr)
        .data__item
            padding: 2rem
            border: 1px solid rgba(124,122,120,.15)
            display: grid
            grid-gap: 1.25rem
            align-items: center
            @include mediaMinWidthTabletPort
                padding: 3rem
                grid-template-columns: 5rem auto
                grid-gap: 2.5rem
        .data__media
            width: 4.875rem
            height: 4.875rem
            flex-shrink: 0
            display: flex
            justify-content: center
            align-items: center
            
            img,
            svg
                width: 100%
                height: 100%
        .data__main
            display: grid
            grid-gap: .75rem
        .data__title
            font-size: 1.375rem
            line-height: 1.375rem
        .box__layout
            display: grid
            grid-gap: 1.125rem

    .delivery__gallery
        display: grid
        grid-gap: 1.25rem
        @include mediaMinWidthTabletPort
            grid-gap: 3rem
        &:not(:last-child)
            margin-bottom: 2.75rem
        .gallery__main
            margin: 0 -1.25rem
            @include mediaMinWidthTabletPort
                margin: unset
        .gallery__list
            display: grid
            grid-gap: .5rem
            @include mediaMinWidthTabletPort
                grid-gap: 1.5rem
                grid-template-columns: repeat(2, 1fr)
        .gallery__link
            width: 100%
            padding-top: 50%
            display: flex
            position: relative
            @include mediaMinWidthTabletPort
            &:hover
                &:before
                    height: 100%
                    transition-delay: 0s
                .gallery__ico
                    opacity: 1
                    visibility: visible
                    transition-delay: .4s
            &:before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 0
                background-color: rgba(0,0,0,.6)
                @include transition
                transition-delay: .4s
                z-index: 2
            img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
        .gallery__ico
            position: absolute
            top: 50%
            left: 50%
            width: 2.5rem
            height: 2.5rem
            opacity: 0
            visibility: hidden
            @include transform
            @include transition
            transition-delay: 0s
            z-index: 3
    .delivery__calc
        display: grid
        grid-gap: 2.75rem
        &:not(:last-child)
            margin-bottom: 2.75rem
        .calc__title
            font-family: $secondaryFont
            text-align: center
        













