// GALLERY
.layout__gallery
    .gallery__list
        display: grid
        grid-gap: .5rem
        grid-template-columns: repeat(2, 1fr)
        @include mediaMinWidthTabletPort
            grid-gap: 1.5rem
            grid-template-columns: repeat(4, 1fr)
    .gallery__item
        display: flex
        &:nth-child(4n + 3)
            grid-row: span 2
            .gallery__link
                padding-top: 200%

        &:nth-child(4n + 1)
            grid-column: span 2
            .gallery__link
                padding-top: 50%
    .gallery__media
        width: 100%
        height: 100%
        display: flex
        align-items: flex-start
    .gallery__link
        padding-top: 100%
        width: 100%
        height: 100%
        position: relative
        overflow: hidden
        display: flex
        &:hover
            &:before
                height: 100%
                transition-delay: 0s
            .gallery__ico
                opacity: 1
                visibility: visible
                transition-delay: .4s
        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 0
            background-color: rgba(0,0,0,.6)
            @include transition
            transition-delay: .4s
            z-index: 2
    .gallery__img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    .gallery__ico
        position: absolute
        top: 50%
        left: 50%
        width: 2.5rem
        height: 2.5rem
        opacity: 0
        visibility: hidden
        @include transform
        @include transition
        transition-delay: 0s
        z-index: 3









