// MANUFACTURES
.layout__manufactures
    margin: 0 -1.25rem
    @include mediaMinWidthTabletPort
        margin: 0
    .manufactures__list
        gap: 2rem
        display: flex
        flex-direction: column
    .manufactures__item
        padding: 2rem 1.5rem
        position: relative
        gap: 2rem
        display: flex
        flex-direction: column
        @include mediaMinWidthTabletPort
            display: grid
            padding: 2rem
            grid-gap: 2rem 2.5rem
            grid-template-columns: 18.5rem auto
        &:hover
            &:before,
            &:after
                border-color: $colorSecondary400
        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            border: .3125rem solid $colorPrimary100
            z-index: 2
            @include transition
            z-index: -1
        &:before
            height: 16rem
            top: 0
            border-bottom: 0
        &:after
            height: 2.25rem
            bottom: 0
            border-top: 0

    .manufactures__media
        padding: 1.5rem
        display: flex
        justify-content: center
        align-items: flex-start
        @include mediaMinWidthTabletPort
            height: 10.75rem
            width: 18.5rem
            align-items: center
    .manufactures__layout
        display: grid
        grid-gap: .875rem
    .manufactures__title
        @include mediaMinWidthTabletPort
            display: -webkit-box
            -webkit-line-clamp: 1
            -webkit-box-orient: vertical
            overflow: hidden
    .manufactures__main
        @include mediaMinWidthTabletPort
            font-size: 1.125rem
            line-height: 1.5rem
    .manufactures__text
        @include mediaMinWidthTabletPort
            display: -webkit-box
            -webkit-line-clamp: 5
            -webkit-box-orient: vertical
            overflow: hidden
    .manufactures__action
        display: flex
        justify-content: flex-start
        .manufactures__link
            font-weight: 600
            position: relative
            &:hover
                &:before
                    width: 0
            &:before
                content: ""
                position: absolute
                top: 100%
                left: 0
                width: 100%
                height: .125rem
                background-color: $colorSecondary400
                @include transition
    .manufactures__gallery
        width: calc(100vw - 3rem)
        @include mediaMinWidthTabletPort
            width: 77rem
        grid-column: span 2
        .gallery__item
            padding: 0 .25rem
            @include mediaMinWidthTabletPort
                padding: 0 .75rem
        .gallery__link
            padding-top: 60%
            position: relative
            overflow: hidden
            &:hover
                &:before
                    height: 100%
                    transition-delay: 0s
                .gallery__ico
                    opacity: 1
                    visibility: visible
                    transition-delay: .4s
            &:before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 0
                background-color: rgba(0,0,0,.6)
                @include transition
                transition-delay: .4s
                z-index: 2
        .gallery__img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
        .gallery__ico
            position: absolute
            top: 50%
            left: 50%
            width: 2.5rem
            height: 2.5rem
            opacity: 0
            visibility: hidden
            @include transform
            @include transition
            transition-delay: 0s
            z-index: 3










