// NEWS
.layout__news
    display: flex
    flex-direction: column-reverse
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
        display: grid
        grid-gap: 2.5rem
        grid-template-columns: 18.25rem auto
.news__sidebar
    margin: 0 -1.5rem
    @include mediaMinWidthTabletPort
        grid-row: span 2
        margin: 0
    .sidebar__header
        text-align: center
        @include mediaMinWidthTabletPort
            text-align: left
    .sidebar__list
        grid-gap: 1.25rem
        display: grid
    .sidebar__item
        padding: 1.5rem
        display: grid
        grid-gap: 1.5rem
        background-color: $colorPrimary100
        @include mediaMinWidthTabletPort
            padding: 2rem
.news__categories
    .categories__list
        grid-gap: .25rem
        display: grid
    .categories__item
        cursor: pointer
        &:hover,
        &.categories__item_active
            .categories__title
                color: $colorWhite
                background-color: $colorPrimary400
    .categories__title
        color: $colorPrimary400
        background-color: $colorWhite
        font-size: .875rem
        line-height: 1.25rem
        font-family: $secondaryFont
        padding: .75rem 1.25rem
        text-transform: uppercase
        display: flex
        @include transition