// NOTFOUND
.layout__notfound
    text-align: center
    .notfound__layout
        padding-bottom: 2rem
        position: relative
        @include mediaMinWidthTabletPort
            padding-bottom: 8.5rem
    .notfound__header
        margin-bottom: -2.5rem
        position: relative
        z-index: 2
    .notfound__main
        color: $colorWhite
        background-color: $colorPrimary100
    .notfound__media
        position: absolute
        bottom: 0
        left: -1.25rem
        width: 100vw
        display: flex
        align-items: flex-end
        @include mediaMinWidthTabletPort
            left: calc((-120vw + 81rem) / 2)
            width: 120rem
        img
            width: 100%
            height: 100%
    .notfound__text
        font-size: 9.5rem
        line-height: 9rem
        letter-spacing: .5rem
        font-family: $secondaryFont
        @include mediaMinWidthTabletPort
            font-size: 39.5rem
            line-height: 22rem

    .notfound__formular
        padding: 2.5rem 0
        width: 53.75rem
        max-width: 100%
        margin: 0 auto
        position: relative
        @include mediaMinWidthTabletPort
            padding: 4.5rem 0
        &:after
            content: ""
            position: absolute
            top: 0
            height: 100%
            background-color: $colorPrimary100
            left: -1.25rem
            width: 100vw
            z-index: -1
            @include mediaMinWidthTabletPort
                left: calc((-100vw + 53.75rem) / 2)
                width: 100vw
        .formular__header
            &:not(:last-child)
                margin-bottom: 2rem
        .formular__main
            &:not(:last-child)
                margin-bottom: 1.5rem
        .formular__form
            .form-item
                position: relative
            .form-item__button
                width: 3.75rem
                height: 3.75rem
                padding: 0
                background-color: $colorSecondary400
                cursor: pointer
                outline: none
                text-align: center
                appearance: none
                text-transform: uppercase
                position: absolute
                top: 0
                right: 0
                @include transition
            .result__ico
                width: 1rem
                height: 1rem
                fill: $colorWhite
                @include transition
            .form-item__field
                padding: 1.25rem 4rem 1.25rem 2rem
                background-color: $colorWhite
                &:focus
                & ~ .form-item__button
                    .result__ico
                    fill: $colorPrimary400
        .formular__text
            color: $colorPrimary500
            font-weight: 500
            
