// OFFER
.layout__offer
    padding: 1.5rem
    background-color: $colorPrimary100
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
        padding: 3.5rem 4.5rem
        grid-gap: 3rem
    .offer__formular
        display: grid
        grid-gap: .75rem
        @include mediaMinWidthTabletPort
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 1.5rem
    .form__item
        gap: .75rem
        display: flex
        flex-direction: column
        @include mediaMinWidthTabletPort
            gap: unset
        &.form__item_secodnary
            @include mediaMinWidthTabletPort
                grid-column: span 2
    .layout__buttons
        margin-top: auto
        @include mediaMinWidthTabletPort
            .buttons__list
                display: grid
                grid-gap: 1rem
                grid-template-columns: 1fr 1fr
        .btn
            width: 100%