// PAYMENT
.layout__payments
    display: grid
    align-items: flex-start
    @include mediaMinWidthTabletPort
        grid-template-columns: 1fr 1fr
        grid-gap: 0 2.5rem

.payments__conditions
    @include mediaMinWidthTabletPort
        grid-column: span 2
    &:not(:last-child)
        margin-bottom: 2.5rem
    .conditions__list
        gap: 2rem
        display: grid
        position: relative
        @include mediaMinWidthTabletPort
            grid-template-columns: repeat(2, 1fr)
            gap: 0
        @include mediaMinWidthTabletPort
            &:before,
            &:after 
                content: ""
                position: absolute
                background-color: $colorWhite
                top: 0
                left: 50%
                bottom: 0
                box-sizing: border-box
                height: 50%
                width: 3rem
                z-index: 2
                
            &:before
                transform: translateX(-50%) skewx(-20deg)
                top: 49.9%
            &:after 
                transform: translateX(-50%) skewx(20deg)
                bottom: 49.9%






    .conditions__item
        padding: 1.25rem
        background-color: $colorPrimary100
        gap: 1rem
        display: flex
        align-items: flex-start
        position: relative
        @include mediaMinWidthTabletPort
            padding: 3.75rem
            gap: 2.5rem
        &.conditions__item_primary
            padding-bottom: 5.5rem
            position: relative
            @include mediaMinWidthTabletPort
                padding-bottom: 0
        &.conditions__item_secondary
            @include mediaMinWidthTabletPort
                padding-left: 7rem




    .conditions__ico
        width: 2rem
        height: 2rem
        display: flex
        align-items: flex-start
        flex-shrink: 0
        @include mediaMinWidthTabletPort
            width: 4.5rem
            height: 4.5rem
        img,
        svg
            width: 100%
            height: 100%
    .conditions__main
        grid-gap: 1.125rem
        display: grid
    .conditions__title
        font-family: $secondaryFont
    .conditions__media
        position: absolute
        top: 100%
        left: 50%
        width: 12.125rem
        @include transform
        display: flex
        align-items: flex-start
        z-index: 2
        transform: translate(-65%, -75%)
        @include mediaMinWidthTabletPort
            top: 100%
            left: auto
            right: 0
            width: 20.125rem
            transform: translate(0, -50%)
        img
            object-fit: contain

.payments__leasing
    padding: 1.25rem
    border: 1px solid $colorSecondary300
    gap: 1.5rem
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
        gap: 2.5rem
        grid-column: span 2
        padding: 2rem 7.25rem 2rem 2.5rem
        flex-direction: row
        justify-content: space-between
    &:not(:last-child)
        margin-bottom: 2rem
        @include mediaMinWidthTabletPort
            margin-bottom: 3.75rem
    .leasing__main
        font-size: 1rem
        line-height: 1.25rem
        grid-gap: .5rem
        display: grid
    .leasing__title
        font-weight: 700
    .leasing__footer
        flex-shrink: 0
        margin: 0 -1.25rem -1.25rem
        @include mediaMinWidthTabletPort
            margin: unset

.payments__offer
    padding: 1.5rem
    border: 1px solid $colorSecondary300
    gap: 1.125rem
    margin: 0 -1.25rem
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
        gap: 2rem
        margin: 0
        padding: 2.75rem 3.75rem
    .offer__header

    .offer__data
        .data__list
            grid-gap: 1.5rem
            display: grid
            grid-template-columns: 1fr 1fr
        .data__item
            gap: .5rem
            display: flex
            flex-direction: column
        .data__title
            color: $colorPrimary300
            font-size: 1rem
            line-height: 1.5rem
        .data__text
            font-weight: 200
            text-transform: uppercase

            &.data__text_primary
                color: $colorSecondary400
                font-size: 1.875rem
                line-height: 1.875rem
                @include mediaMinWidthTabletPort
                    font-size: 3rem
                    line-height: 3rem
            &.data__text_secondary
                color: $colorPrimary400
                font-size: 1.5rem
                line-height: 3rem
    .offer__action
        display: flex
        justify-content: flex-start
    .offer__footer
        color: $colorPrimary300
        font-size: .875rem
        line-height: 1.125rem
.payments__calc
    padding: 1.5rem
    background-color: $colorPrimary100
    gap: 2rem
    margin: 0 -1.25rem
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
        gap: 2rem
        margin: 0
        padding: 2.75rem 3.75rem
    .calc__group
        display: grid
        grid-gap: 1rem
        &:not(:last-child)
            padding-bottom: 1.5rem
            margin-bottom: 1.5rem
            border-bottom: 1px solid $colorSecondary300
            @include mediaMinWidthTabletPort
                padding-bottom: 2rem
                margin-bottom: 2rem

        .calc__heading
            display: flex
            align-items: center
            justify-content: space-between
        .calc__subtitle
            font-size: .875rem
            line-height: 1rem
            font-weight: 200
            @include mediaMinWidthTabletPort
                font-size: 1.125rem
                line-height: 1.125rem

        .calc__price
            gap: 1rem
            font-size: 1rem
            line-height: 1.25rem
            font-weight: 200
            display: flex
            align-items: center
            @include mediaMinWidthTabletPort
                font-size: 1.125rem
                line-height: 1.25rem
            .price__subtext
                color: $colorSecondary400
            .price__text
                color: $colorPrimary400
                background-color: $colorWhite
                min-width: 7.5rem
                padding: .25rem .5rem
                @include mediaMinWidthTabletPort
                    min-width: 9rem
                    padding: .25rem 1rem
        .calc__data
            .data__list
                display: flex
                align: center
                justify-content: space-between
            .data__item
                color: $colorPrimary400
                font-size: .75rem
                line-height: 1rem
                font-weight: 200
                text-transform: uppercase
                @include mediaMinWidthTabletPort
                    font-size: .875rem
                    ine-height: 1rem







