// POSTS
.layout__posts
    .posts__list
        display: grid
        grid-gap: 2.5rem
        @include mediaMinWidthTabletPort
            grid-gap: 5rem
    .posts__item
        display: grid
        align-items: center
        grid-gap: 1.5rem
        @include mediaMinWidthTabletPort
            grid-gap: 6.25rem
            grid-template-columns: auto 39.25rem
        &:nth-child(even)
            @include mediaMinWidthTabletPort
                grid-template-columns: 39.25rem auto 
                .post__media
                    order: -1
    .post__layout
        grid-gap: 1.5rem
        display: grid
        @include mediaMinWidthTabletPort
            grid-gap: 2.5rem
    .post__media
        padding-top: 72.5%
        position: relative
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%



