// PRODUCTS
.layout__products
    .products__list
        display: grid
        gap: 1.25rem
        &:not(.products__list_carousel)
            @include mediaMinWidthTabletPort
                gap: 1.5rem
                grid-template-columns: repeat(3, 1fr)
        &.products__list_carousel
            @include mediaMinWidthTabletPort
                .slick-list
                    margin: 0 -.75rem
                .products__item
                    margin: 0 .75rem
        &.products__list_secondary
            grid-template-columns: repeat(1, 1fr)

    .products__item
        font-size: 1rem
        line-height: 1.25rem
        position: relative
    .products__link
        color: $colorPrimary400
        position: relative
        &.products__link_secondary
            @include mediaMinWidthTabletPort
                padding: 1.25rem 0 .75rem
                display: flex
                flex-direction: column
        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 6rem
            border: .25rem solid $colorPrimary100
            z-index: 2
            @include transition
        &:before
            border-bottom: 0
            top: 0
        &:after
            border-top: 0
            bottom: 0


        &:hover
            &:before,
            &:after
                border-color: $colorSecondary400
    .products__action
        position: absolute
        top: 0
        right: 0
        background-color: $colorSecondary400
        width: 2rem
        height: 2rem
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        z-index: 3
        img,
        svg
            width: .5rem
            height: .5rem
            fill: $colorWhite

        
    .products__header
        padding: 1.25rem
        @include mediaMinWidthTabletPort
            padding: 2rem 1.75rem 1rem
        &.products__header_secondary
            @include mediaMinWidthTabletPort
                padding: 1rem 0 0
    .products__main
        &.products__main_seconary
            &:not(:last-child)
                margin-bottom: .25rem
    .products__footer
        padding: 1.25rem
        @include mediaMinWidthTabletPort
            padding: 1.25rem 2rem
        &.products__footer_secondary
            @include mediaMinWidthTabletPort
                padding: 0 2rem 1.25rem
    .products__title
        @include mediaMinWidthTabletPort
            min-height: 3rem
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
        &.products__title_secondary
            @include mediaMinWidthTabletPort
                -webkit-line-clamp: 3

    .products__media
        padding-top: 52%
        position: relative
        overflow: hidden
        img,
        svg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%


    .products__main
        position: relative
    .products__status
        color: $colorWhite
        background-color: $colorPrimary400
        position: absolute
        bottom: 0
        max-width: 100%
        left: 0
        padding: .3rem 1.25rem
        border-left: .25rem solid $colorSecondary400
        font-size: .75rem
        line-height: 1.25rem
        font-family: $secondaryFont
        text-transform: uppercase
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        display: block
    .products__description
        color: $colorPrimary300
        border: 1px solid $colorPrimary100
        padding: 1rem 1.25rem
        @include mediaMinWidthTabletPort
            padding: 1rem 2rem
        .description__text
            @include mediaMinWidthTabletPort
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
    .products__data
        font-size: .875rem
        line-height: 1.125rem
        padding: 1rem 1.25rem 0
        @include mediaMinWidthTabletPort
            padding: 1rem 2rem 0
        &.products__data_secondary
            @include mediaMinWidthTabletPort
                padding: .5rem 0 0
        .data__list
            display: flex
            flex-direction: column
            gap: .25rem
            @include mediaMinWidthTabletPort
                gap: .4rem
        .data__item
            display: flex
            justify-content: space-between
            position: relative
            &:after
                content: ""
                position: absolute
                bottom: .25rem
                left: 0
                width: 100%
                border-top: 1px dotted $colorPrimary200
        .data__title,
        .data__value
            position: relative
            z-index: 2
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            background-color: $colorWhite
        .data__title
            padding-right: 1rem
            font-weight: 400
        .data__value
            padding-left: 1rem
            font-weight: 500
    .products__prices
        .prices__list
            display: flex
            justify-content: center
            gap: .125rem
            @include mediaMinWidthTabletPort
                gap: 1rem
            &.prices__list_secondary
                @include mediaMinWidthTabletPort
                    gap: .125rem
                    flex-direction: column
        .prices__item
            padding: .75rem
            width: 100%
            position: relative
            display: flex
            justify-content: center
            @include mediaMinWidthTabletPort
                padding: 1rem 2rem
                width: auto
            &.prices__item_primary
                color: $colorPrimary300
                &:before
                    content: ""
                    width: 7rem
                    height: .125rem
                    position: absolute
                    top: 50%
                    left: 50%
                    background-color: $colorPrimary400
                    transform: translate(-50%, -50%) rotate(-10deg)
            &.prices__item_secondary
                color: $colorWhite
                background-color: $colorSecondary400
        .prices__text
            font-size: 1.25rem
            line-height: 1.5rem
            font-weight: 600
            text-transform: uppercase
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden
            display: block
        .btn
            font-size: 1rem
            line-height: 1rem
    .products__table
        padding-top: 1rem
        .table__list
            display: flex
            flex-direction: column
        .table__item
            font-size: 1rem
            line-height: 1.4rem
            padding: .5rem
            display: flex
            flex-direction: column
            justify: center
            align-items: center
            text-align: center
            &:nth-child(even)
                background-color: $colorPrimary100
        .table__title
            color: $colorPrimary300
        .table__value
            color: $colorPrimary400
            font-weight: 600
            &.table__value_secondary
                color: $colorSecondary400
                font-size: 1.25rem
                line-height: 1.25rem