// PRODUCT
.layout__product
    padding: 1.25rem
    display: grid
    
    grid-gap: 1.5rem
    align-items: flex-start
    position: relative
    @include mediaMinWidthTabletPort
        padding: 2rem 2.5rem
        grid-template-columns: 22rem auto
    &.layout__product_secondary
        @include mediaMinWidthTabletPort
            grid-template-columns: 22rem auto 18.25rem
    &:before,
    &:after
        content: ""
        position: absolute
        left: 0
        width: 100%
        height: 13.75rem
        border: .3125rem solid $colorPrimary100
        z-index: -1
        @include transition
    &:before
        border-bottom: 0
        top: 0
    &:after
        border-top: 0
        bottom: 0
    .product__slider
        width: calc(100vw - 5rem)
        @include mediaMinWidthTabletPort
            width: auto
        .slider__media
            padding-top: 60%
            position: relative
            img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
        .slick-arrow
            width: 2.5rem
            height: 3rem
            &.slick-prev
                left: -2rem
                right: auto
            &.slick-next
                right: -2rem
                left: auto
                @include mediaMinWidthTabletPort
                    right: 0



    .product__layout
        display: flex
        flex-direction: column
    .product__status
        position: absolute
        top: 0
        left: 0
        color: $colorWhite
        background-color: $colorPrimary400
        position: absolute
        max-width: 100%
        padding: .3rem 1.25rem
        border-left: .3125rem solid $colorSecondary400
        font-size: .75rem
        line-height: 1.25rem
        font-family: $secondaryFont
        text-transform: uppercase
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        display: block
        z-index: 3
    .product__header
        &:not(:last-child)
            margin-bottom: .75rem 
    .product__title
        @include mediaMinWidthTabletPort
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
    .product__main
        color: $colorPrimary300
        font-size: 1rem
        line-height: 1.25rem
        &:not(:last-child)
            margin-bottom: 1rem
    .product__text
        @include mediaMinWidthTabletPort
            display: -webkit-box
            -webkit-line-clamp: 4
            -webkit-box-orient: vertical
            overflow: hidden
    .product__data
        &:not(:last-child)
            margin-bottom: .75rem
            @include mediaMinWidthTabletPort
                margin-bottom: 1.25rem
        .data__list
            gap: .75rem
            display: flex
            flex-direction: column
            position: relative
            @include mediaMinWidthTabletPort
                gap: 3rem
                flex-direction: row
                flex-wrap: wrap
            
            
        .data__item
            gap: .75rem
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-between
            @include mediaMinWidthTabletPort
                flex-direction: column
            &:after
                content: ""
                position: absolute
                bottom: .325rem
                left: 0
                width: 100%
                border-top: 1px dotted $colorPrimary200
                @include mediaMinWidthTabletPort
                    display: none


        .data__title,
        .data__text
            background-color: $colorWhite
            position: relative
            z-index: 2
            @include mediaMinWidthTabletPort
                background-color: transparent

        .data__title
            font-size: .875rem
            line-height: 1.25rem
            padding-right: 1rem
            font-weight: 400
            @include mediaMinWidthTabletPort
                font-size: 1rem
                line-height: 1.25rem
                padding: 0
                
        .data__text
            padding-left: 1rem
            font-size: .875rem
            line-height: 1.25rem
            font-weight: 700
            @include mediaMinWidthTabletPort
                font-size: 1.375rem
                line-height: 1.5rem
                padding: 0







            
    .product__prices
        @include mediaMinWidthTabletPort
            padding: .875rem 1.5rem
            border: 1px solid $colorSecondary300
        &:not(:last-child)
            margin-bottom: 1.5rem
        .prices__list
            display: flex
            align-items: center
            gap: 1.5rem
           
        .prices__item
            &.prices__item_primary
                color: $colorSecondary400
                font-size: 1.5rem
                line-height: 1.5rem
                @include mediaMinWidthTabletPort
                    font-size: 1.875rem
                    line-height: 1.875rem
                
            &.prices__item_secondary
                color: $colorPrimary300
                font-size: 1.25rem
                line-height: 1.25rem
                position: relative

                &:before
                    content: ""
                    width: 7rem
                    height: .125rem
                    position: absolute
                    top: 50%
                    left: 50%
                    background-color: $colorPrimary400
                    transform: translate(-50%, -50%) rotate(-10deg)
        .prices__text
            font-weight: 200
            text-transform: uppercase
    .product__action
        &:not(:last-child)
            margin-bottom: 1.25rem
        &.product__action_secondary
            .action__list
                flex-wrap: wrap
            .action__item
                &.action__item_primary
                    width: 100%
                &.action__item_secondary
                    width: calc(100% - 5rem)
        .action__list
            gap: .5rem
            display: flex

            @include mediaMinWidthTabletPort
                gap: 1rem
    .product__callback
        color: $colorPrimary300
        font-size: 1rem
        line-height: 1.25rem
        border: 1px solid $colorSecondary300
        padding: 1rem 1.25rem
        &:not(:last-child)
            margin-bottom: 1.125rem
    .product__calc
        .btn
            padding: .75rem 1rem
    .product__installment
        border: 1px solid $colorSecondary300
        padding: 1rem 1.25rem
        gap: 1rem
        display: flex
        align-items: center
        &:not(:last-child)
            margin-bottom: 1.125rem
        .installment__ico
            width: 1.25rem
            height: 1.25rem
            flex-shrink: 0
        .installment__text
            font-size: .75rem
            line-height: 1re
            text-transform: uppercase
            font-family: $secondaryFont
    .product__leasing
        display: grid
        grid-gap: .5rem
        &:not(:last-child)
            margin-bottom: 1.5rem
    .product__comparison
        display: flex
        flex-direction: column
        align-items: center
        cursor: pointer
        .comparison__ico
            fill: $colorSecondary400
            width: 2rem
            height: 2rem
        .comparison__text
            font-size: 1rem
            line-height: 1.375rem
            font-weight: 500
    .product__table
        @include mediaMinWidthTabletPort
            grid-column: span 2
    .product__leasing
    .product__sidebar
        grid-row: span 2
        order: 9
        @include mediaMinWidthTabletPort
            order: unset
.product__components
    .components__list
        display: grid
        align-items: flex-start
        grid-gap: 1.5rem
        @include mediaMinWidthTabletPort
            grid-gap: 2.5rem
            grid-template-columns: 1fr 1fr
    .components__item
        border: 1px solid $colorSecondary300
        padding: 1.5rem
        display: flex
        flex-direction: column
        gap: 1rem
        @include mediaMinWidthTabletPort
            padding: 3rem
            grid-gap: 2rem
            height: 100%
.product__advantages
    display: grid
    grid-gap: 2rem