// result
.layout__result
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
        grid-gap: 3rem 2.5rem
        grid-template-columns: 18.25rem auto
    .result__formular
        @include mediaMinWidthTabletPort
            grid-column: span  2   
        .form__item
            
            position: relative
        .form__button
            width: 3.75rem
            height: 3.75rem
            padding: 0
            background-color: $colorSecondary400
            cursor: pointer
            outline: none
            text-align: center
            appearance: none
            text-transform: uppercase
            position: absolute
            top: 0
            right: 0
            @include transition
        .result__ico
            width: 1rem
            height: 1rem
            fill: $colorWhite
            @include transition
        .form__field
            padding: 1.25rem 4rem 1.25rem 2rem
            background-color: $colorPrimary100
            &:focus
                & ~ .form__button
                    .result__ico
                        fill: $colorPrimary400


        









    .result__categories
        padding: 1.5rem
        background-color: $colorPrimary100
        display: grid
        align-items: flex-start
        gap: .75rem
        @include mediaMinWidthTabletPort
            padding: 2rem
        .categories__header
            gap: 1rem
            display: grid
            align-items: flex-start
        .categories__subtitle
            color: $colorPrimary300
            font-size: 1rem
            line-height: 1.25rem
        .categories__list
            grid-gap: .25rem
            display: grid
        .categories__item
            &:hover
                .categories__link
                    color: $colorWhite
                    background-color: $colorSecondary400
        .categories__link
            color: $colorPrimary400
            background-color: $colorWhite
            padding: .875rem 1.25rem
            font-size: 1rem
            line-height: 1.25rem
            font-weight: 500
            display: flex
            @include transition

    .result__products
        padding: 2rem 0
        grid-gap: 2rem
        display: grid
        .products__header
            gap: .125rem
            display: flex
            align-items: center
        .products__value
            color: $colorSecondary400
        .products__list
            display: grid
            grid-gap: 1.25rem
        .products__item
            &:hover
                .products__link
                    border-color: $colorSecondary400
        .products__link
            
            border: .3125rem solid $colorPrimary100
            display: flex
            flex-direction: column
            @include transition
            @include mediaMinWidthTabletPort
                flex-direction: row
        .products__media
            width: 100%
            flex-shrink: 0
            display: flex
            justify-content: center
            align-items: center
            @include mediaMinWidthTabletPort
                width: 25.75rem
        .products__layout
            padding: 1.5rem
            display: grid
            grid-gap: 1rem
            @include mediaMinWidthTabletPort
                padding: 2rem
        .products__title
            @include mediaMinWidthTabletPort
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
        .products__main
            color: $colorPrimary300
            font-size: 1rem
            line-height: 1.25rem
        .products__text
            @include mediaMinWidthTabletPort
                display: -webkit-box
                -webkit-line-clamp: 4
                -webkit-box-orient: vertical
                overflow: hidden
                