// REVIEWS
.layout__reviews
    .reviews__list
        display: grid
        grid-gap: 1.5rem .5rem
        grid-template-columns: repeat(2, 1fr)
        @include mediaMinWidthTabletPort
            grid-gap: 3rem 1.5rem
            grid-gap: 1.5rem
            grid-template-columns: repeat(4, 1fr)
    .reviews__item
    .reviews__link
        display: grid
        gap: .5rem
        @include mediaMinWidthTabletPort
            gap: 1.5rem
        &:hover
            .reviews__media
                &:before,
                &:after
                    border-color: $colorSecondary400
    .reviews__media
        padding-top: 142%
        position: relative
        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 6rem
            border: .3125rem solid $colorPrimary100
            z-index: 2
            @include transition
        &:before
            top: 0
            border-bottom: 0
        &:after
            bottom: 0
            border-top: 0
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
