// SEO
.layout__seo
    .seo__list
        display: grid
        flex-wrap: wrap
        @include mediaMinWidthTabletPort
            grid-template-columns: repeat(2, 1fr)
    .seo__item
        padding: 2.5rem 1.25rem
        @include mediaMinWidthTabletPort
            padding: 3.5rem
        &:nth-child(odd)
            padding-top: 0
            @include mediaMinWidthTabletPort
                padding-top: 3.5rem
                padding-left: 0
        &:nth-child(even)
            background-color: $colorPrimary100
    .seo__layout
        display: grid
        gap: 2rem
    .seo__header
        text-align: center
        text-transform: uppercase
        @include mediaMinWidthTabletPort
            text-align: left
