// SERVICE
.layout__service
  display: grid
  grid-gap: 1.5rem
  @include mediaMinWidthTabletPort
    grid-gap: 2.5rem
    grid-template-columns: 1fr 1fr
  .service__main
    @include mediaMinWidthTabletPort
      padding: 2.5rem 0
  .service__data
    .data__list
      display: grid
      grid-gap: 1rem
      align-items: flex-start
      @include mediaMinWidthTabletPort
        grid-template-columns: 1fr 1fr
    .data__item
      padding: 2.5rem
      height: 100%
      background-color: $colorPrimary100
      display: flex
      flex-direction: column
      gap: 1.5rem
    .data__ico
      width: 5rem
      height: 5rem
