// SITEMAP
.layout__sitemap
    .sitemap__list
        display: grid
        gap: .5rem
    .sitemap__link
        color: $colorPrimary400
        background-color: $colorPrimary100
        padding: 1rem 2rem
        display: flex
        @include transition
        &:hover
            color: $colorWhite
            background-color: $colorSecondary400