// SLIDER
.layout__slider
  @include mediaMinWidthTabletPort
    margin: 0 -1.625rem
  .slick-list
    overflow: visible
  .slider__item
    @include transition
    &:not(.slick-current)
      opacity: .15
    &.slick-current
      @include mediaMinWidthTabletPort
        .slider__layout
          opacity: 1
          visibility: visible
          transform: translateY(0)
          transition-delay: 1s
  .slider__media
    width: 100%
    padding-top: 115%
    position: relative
    overflow: hidden
    @include mediaMinWidthTabletPort
      padding-top: 38.5%
    picture
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      align-items: flex-start
      img
        width: 100%
        height: 100%
  .slider__link
    position: relative
    display: flex
    @include mediaMinWidthTabletPort
      margin: 0 1.625rem 
  .slider__layout
    position: absolute
    left: 1.25rem
    bottom: 1.25rem
    width: calc(100vw - 2.5rem)
    display: grid
    grid-template-columns: auto 3.25rem
    @include mediaMinWidthTabletPort
      left: 2.5rem
      bottom: 2.5rem
      width: 29.5rem
      grid-template-columns: auto 4.5rem
      opacity: 0
      visibility: hidden
      transform: translateY(2rem)
      @include transition
  .slider__header
    color: $colorPrimary400 
    background-color: $colorWhite
    padding: 1.25rem
    grid-column: span 2
    @include mediaMinWidthTabletPort
      padding: 2rem 2.5rem
  .slider__main
    color: $colorWhite
    background-color: $colorPrimary400
    padding: 1rem 1.25rem
    @include mediaMinWidthTabletPort
      padding: 1.5rem 2.5rem
  .slider__action
    background-color: $colorSecondary400
    width: 3.25rem
    height: 3.25rem
    display: flex
    justify-content: center
    align-items: center
    @include mediaMinWidthTabletPort
      width: 4.5rem
      height: 4.5rem
  .slider__ico
    width: 2rem
    height: 1.25rem
  .slick-arrow
    width: 2.5rem
    height: 3.75rem
    position: absolute
    top: 7.875rem
    @include mediaMinWidthTabletPort
      width: 4.5rem
      height: 6.25rem
      top: 50%
      @include transform-y
    &.slick-prev
      left: 0
      right: auto
      @include mediaMinWidthTabletPort
        left: auto
        right: calc(100% - 1.625rem)
    &.slick-next
      left: auto
      right: 0
      @include mediaMinWidthTabletPort
        left: calc(100% - 1.625rem)
        right: auto





