// SUBCATALOG
.layout__subcatalog
    margin: 0 -1.5rem
    @include mediaMinWidthTabletPort
        margin: 0
    .subcatalog__list
        gap: .5rem
        display: grid
        @include mediaMinWidthTabletPort
            gap: 1.25rem
            grid-template-columns: repeat(3, 1fr)
    .subcatalog__item
        &:hover
            .subcatalog__link
                border-color: $colorSecondary400
    .subcatalog__link
        border: .3125rem solid $colorPrimary100
        padding: .25rem 1.5rem
        gap: 1.5rem
        display: flex
        align-items: center
        @include transition
        @include mediaMinWidthTabletPort
            padding: 1.75rem
            gap: 2rem
    .subcatalog__img
        width: 5rem
        height: 5rem
        flex-shrink: 0
        @include mediaMinWidthTabletPort
            width: 6.75rem
            height: 6.75rem
    .subcatalog__title


    