// SUPPORT
.layout__support
    padding: 1.5rem
    position: relative
    @include mediaMinWidthTabletPort
        padding: 3rem 3rem 4rem
    .support__background
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: $colorPrimary500
            opacity: .9
        img
            width: 100%
            height: 100%
    .support__layout
        color: $colorWhite
        display: grid
        position: relative
        z-index: 2
        align-items: flex-start
        grid-gap: .25rem 1.25rem
        grid-template-columns: 3.75rem auto
        @include mediaMinWidthTabletPort
            grid-template-columns: 5rem auto
            grid-gap: 1.5rem 2rem
    .support__media
        width: 3.75rem
        height: 3.75rem
        display: flex
        align-items: flex-start
        grid-row: span 3
        @include mediaMinWidthTabletPort
            width: 5rem
            height: 5rem
        img,
        svg
            width: 100%
            height: 100%
    .support__main,
    .support__footer
        grid-column: span 2
        @include mediaMinWidthTabletPort
            grid-column: unset
        &:not(:last-child)
            margin-bottom: 1rem
    .support__text
        font-size: 1.125rem
        line-height: 1.25rem
        opacity: .7
        @include mediaMinWidthTabletPort
            font-size: 1.375rem
            line-height: 1.5rem
    .support__title
        text-transform: uppercase
        font-family: $secondaryFont

