// WORK
.layout__work
  .work__list
    display: grid
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(4, 1fr)
  .work__item
    height: 100%
  .work__link
    height: 100%
    pointer-events: none
    display: grid
    position: relative
    &:hover
      .work__text
        color: $colorSecondary400
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: .25rem
      background-color: $colorSecondary400
      z-index: 2
  .work__media
    padding-top: 65%
    position: relative
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .work__title
    padding: 1rem 0 0 1.5rem
    @include mediaMinWidthTabletPort
      padding: 1.25rem 0 0 2rem
  .work__text
    color: $colorPrimary400
    font-size: 1.125rem
    line-height: 1.5rem
    font-weight: 200
    @include transition